.title_page {
    margin: 25px 0;
}

.input_css {
    width: 250px;
    margin: 0 10px;
    display: inline-block;
}

.container_btn {
    text-align: center;
}

.btn_css {
    width: 250px;
    margin: 20px 10px;
}
