<h1 mat-dialog-title>Captura de huella dactilar.</h1>
<div mat-dialog-content>

    <!-- Contenido - body capturar huella -->
    <div class="card-body content_data">
        <h2 *ngIf="existsHuella">El usuario ya cuenta con huella dactilar capturada.</h2>
        <h2 *ngIf="!existsHuella">El usuario no cuenta con huella dactilar capturada.</h2>
        <!-- Imagen de la huella dactilar almacenada en BD -->
        <div *ngIf="existsHuella" class="alert alert-light" role="alert">
            <img *ngIf="existsHuella" src="" alt="">
        </div>

        <!-- Imagen de huella dactilar capturada -->
        <div *ngIf="currentImageFingerFixed != null" class="alert alert-light" role="alert">
            <img *ngIf="currentImageFingerFixed != null" src="{{currentImageFingerFixed}}" alt="huella_capturada">
        </div>

        <button *ngIf="!lecturaHuella" class="btn btn-primary btn-block">
            Iniciar lectura de huella
        </button>

        <button *ngIf="lecturaHuella" class="btn btn-primary btn-block" (click)="uploadFingerprint()">
            Guardar huella capturada
        </button>



    </div>
    <!--</div>-->
    <div mat-dialog-actions fxLayoutAlign="center center">
        <button class="button-pay" mat-button (click)="cerrarDialogo()">Cerrar</button>
    </div>