.size_image{
    width: 300px; /* Establece el ancho deseado */
    height: auto; /* Mantiene la proporción original */
    display: block; /* Asegura que la imagen sea un bloque */
    margin-left: auto; /* Establece el margen izquierdo a automático */
    margin-right: auto; /* Establece el margen derecho a automático */
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* Dos columnas con el mismo ancho */
    gap: 20px;  /* Espacio entre las columnas */
}

.formContent {
    margin: 40px auto;
}

.formInputs {
    display: inline-block;
    margin: 10px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  /* Fijar el encabezado */
.mat-dialog-title {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2; /* Asegúrate de que el z-index sea mayor que el del contenido del modal */
}

/* Fijar el pie de página */
.mat-dialog-actions {
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 2; /* Asegúrate de que el z-index sea mayor que el del contenido del modal */
}

.container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    /*align-items: center;  Centra verticalmente */
    /* height: 100vh;  Ajusta la altura del contenedor al 100% de la ventana */
}

.full-width-label-activo {
    display: block;
    width: 100%;
    background-color: greenyellow;
}

.full-width-label-inactivo {
    display: block;
    width: 100%;
    background-color: red;
}

.full-width-label-new {
    display: block;
    width: 100%;
    background-color: orange;
}

.centered-content {
    display: inline-flex; /* Convertir en contenedor flexible */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
}

