<div class="custom-spinner-container" *ngIf="isLoading">
   <div class="custom-spinner">
       <div class="spinner-circle"></div>
       <div class="spinner-text">Cargando...</div>
   </div>
</div>
<div *ngIf="!isLoading">
   <div style="margin-top: 60px;">
   <div class="container mt-4">
      <h2>ENTRADAS</h2>
      <div >
         <br>
         <form [formGroup]="form">
            <div style="color:red">{{message}}</div>
         <div class="row">
          <!----  <div class="col-sm-12">
               <p>
                  <label>Productos:</label>
                  <mat-form-field appearance="outline" style="width: 100%;" >
                     <mat-label>Productos</mat-label>
                     <mat-select
                     id="idProbob"
                     name="idProbob"
                     formControlName="idProbob"
                     (ngModelChange)="infoProducto(showProduct.value)"
                     #showProduct
                     >
                     <mat-option
                     *ngFor="let item of listaProductos"
                     [value]="item.idProbob"
                     >{{ item.descripcion }} {{ item.marca }}_{{ item.detalleCompra }} codigo_{{ item.codigoBarras }} </mat-option
                        >
                     </mat-select>
                     <mat-error *ngIf="form.get('idProbob')?.hasError('required')"
                        ><strong class="txt_msg">**Campo requerido</strong></mat-error
                        >
                  </mat-form-field>
               </p>
            </div>-->
            <div class="col-sm-12">
               <p>
                 <mat-form-field appearance="outline" style="width: 100%;">
                   <mat-label>Productos</mat-label>
                   <input
                   (keydown)="handleEnterKey($event)"
                     matInput
                     formControlName="idProbob"
                     placeholder="Escribe una categoria"
                     [matAutocomplete]="auto"
                     (input)="buscarProducto()"
                     (ngModelChange)="infoProducto($event)"
                     #showProduct
                   />
                   <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onProductSelected($event.option.value)">
                     <mat-option *ngFor="let item of filteredProducto" [value]="item">
                       {{ item.nombre }}
                     </mat-option>
                   </mat-autocomplete>
                 </mat-form-field>
               </p>
             </div>
                
         </div>
         <div class="row">
            <div class="col-sm-4">
               <p>
                  <label class="text-left">Cantidad:</label>
                  <mat-form-field appearance="outline" style=" width: 100%;">
                     <mat-label>Cantidad de producto</mat-label>
                     <input
                     (keydown)="handleEnterKey($event)"
                        type="number"
                        min="0"
                        matInput
                        placeholder="Cantidad de producto"
                        autocomplete="off"
                        formControlName="exis"
                        id="exis"
                        [errorStateMatcher]="matcher"
                        />
                     <mat-error
                        *ngIf="
                        form.get('exis')?.hasError('pattern') &&
                        !form.get('exis')?.hasError('required')
                        "
                        >
                        <strong class="txt_msg">**Solo se admiten numeros enteros</strong>
                     </mat-error>
                     <mat-error *ngIf="form.get('exis')?.hasError('required')"
                        ><strong class="txt_msg">**Campo requerido</strong></mat-error
                        >
                  </mat-form-field>
               </p>
            </div>
            <div class="col-sm-3">
               <p>
                  <label class="text-left">Precio compra:</label>
                  <mat-form-field appearance="outline"  style=" width: 100%;" required>
                     <mat-label>Precio de compra</mat-label>
                     <input
                     (keydown)="handleEnterKey($event)"
                        matInput
                        placeholder="$"
                        type="number"
                        min="0"
                        step="0.01"
                        autocomplete="off"
                        formControlName="precioCaja"
                        id="precioCaja"
                        [errorStateMatcher]="matcher"
                        />
                     <mat-error
                        *ngIf="
                        form.get('precioCaja')?.hasError('pattern') &&
                        !form.get('precioCaja')?.hasError('required')
                        "
                        >
                        <strong class="txt_msg">**Solo se admiten dos decimales</strong>
                     </mat-error>
                     <mat-error *ngIf="form.get('precioCaja')?.hasError('required')"
                        ><strong class="txt_msg">**Campo requerido</strong></mat-error
                        >
                  </mat-form-field>
               </p>
            </div>
            <div class="col-sm-3">
               <P>
                  <label class="text-left">Precio venta:</label>
                  <mat-form-field appearance="outline"  style=" width: 100%;" required>
                     <mat-label >Precio de venta</mat-label>
                     <input
                     (keydown)="handleEnterKey($event)"
                        matInput
                        placeholder="$"
                        type="number"
                        min="0"
                        step="0.01"
                        autocomplete="off"
                        formControlName="precciosucu"
                        id="precciosucu"
                        [errorStateMatcher]="matcher"
                        />
                     <mat-error
                        *ngIf="
                        form.get('precciosucu')?.hasError('pattern') &&
                        !form.get('precciosucu')?.hasError('required')
                        "
                        >
                        <strong class="txt_msg">**Solo se admiten dos decimales</strong>
                     </mat-error>
                     <mat-error *ngIf="form.get('precciosucu')?.hasError('required')"
                        ><strong class="txt_msg">**Campo requerido</strong></mat-error
                        >
                  </mat-form-field>
               </P>
            </div>
            <div class="col-sm-2">
               <button type="button" mat-raised-button (click)="agregarATabla()" style="margin-top: 10px;background-color: #fde49c; width: 100%; height: 35px;" [disabled]="!habilitarBoton">
                  <mat-icon>add</mat-icon>
                  Añadir
               </button>
            </div>
            </div> 
         <div *ngIf="tablaDatos && tablaDatos.length > 0">
            <table class="table">
               <thead>
                  <tr>
                     <th>Producto</th>
                     <th>Cantidad</th>
                     <th>Precio compra</th>
                     <th>Precio venta</th>
                     <th>Fecha</th>
                     <th>Acciones</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let dato of tablaDatos; let i = index">
                     <td>{{ dato.descripcion }} {{ dato.marca}}_{{ dato.detalle}}</td>
                     <td>{{ dato.exis }}</td>
                     <td>{{ dato.precioCaja }}</td>
                     <td>{{ dato.precciosucu }}</td>
                     <td>{{ dato.fechaEntrada }}</td>
                     <td>
                        <button mat-icon-button (click)="quitarArchivo(i)">
                           <mat-icon>delete</mat-icon>
                        </button>
                     </td>
                  </tr>
               </tbody>
            </table>            
         </div>
         </form>
      </div>
      <div style="display: flex; justify-content: center;" >
         <button mat-raised-button (click)="registrar()"  style="background-color: #fd9727;font-size: 20px;" [disabled]="!habilitarBoton"
         >
         Guardar
         </button>
      <!-- <button  mat-raised-button style="background-color: #000000;margin-left: 51px;font-size: 20px;color: rgb(255, 255, 255);"
            (click)="cerrarDialogo()">Cancelar
         </button>-->
      </div>
      
      </div>
   </div> 
<br><br>
<div class="container mt-4">
   <h2 >REPORTE DE COMPRAS</h2>
   <br>
   <input type="date" [(ngModel)]="fechaInicio" (ngModelChange)="verCompras()" class="input-date">
   <input type="date" [(ngModel)]="fechaFin" (ngModelChange)="verCompras()" class="input-date">

   <div style="display: flex; justify-content: flex-end;">
      <button class="mat-button" mat-button [matMenuTriggerFor]="menu">
          <mat-icon style="font-size: 22px;">download</mat-icon>
          Descargar Reporte
      </button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="descargarExcel()">.xlsx <mat-icon>grid_on</mat-icon></button>
      </mat-menu>
  </div>  

   <table mat-table [dataSource]="dataSource"  >
      <ng-container matColumnDef="nombreProducto">
         <th mat-header-cell *matHeaderCellDef> Nombre del producto </th>
         <td mat-cell *matCellDef="let detalle"> {{ detalle.descripcion }} -{{ detalle.marca }} </td>
      </ng-container>
      <ng-container matColumnDef="detalleCompra">
         <th mat-header-cell *matHeaderCellDef> Detalles </th>
         <td mat-cell *matCellDef="let detalle"> {{ detalle.detalleCompra }} </td>
      </ng-container>

      <ng-container matColumnDef="precioC">
         <th mat-header-cell *matHeaderCellDef> Precio de compra </th>
         <td mat-cell *matCellDef="let detalle"> {{ detalle.precioCaja }} </td>
      </ng-container>
      <ng-container matColumnDef="precioSucursal">
         <th mat-header-cell *matHeaderCellDef> Precio de venta </th>
         <td mat-cell *matCellDef="let detalle"> {{ detalle.precioSucursal }} </td>
      </ng-container>
      <ng-container matColumnDef="fecha_actu">
         <th mat-header-cell *matHeaderCellDef> Fecha </th>
         <td mat-cell *matCellDef="let detalle"> {{ detalle.fecha_actu }} </td>
      </ng-container>
      <ng-container matColumnDef="existencias">
         <th mat-header-cell *matHeaderCellDef> Entradas </th>
         <td mat-cell *matCellDef="let detalle"> {{ detalle.existencias }} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="columnas; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
   </table>
   <mat-paginator #paginatorHistorial [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>

</div>
   
</div>