<div>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse-sync" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

      <h1 class="title" mat-dialog-title>AGREGAR PROMOCIÓN</h1>

      <div mat-dialog-content>
          <form [formGroup]="formulariodePlan">
              <div>
              <div style="color:red">{{message}}</div>
                  <br/>
                  <div class="row">
                      <div class="col-sm-6">
                          <p>
                              <label>Nombre de la promoción:</label>
                              <mat-form-field appearance="outline" style="width: 95%;" required>
                                  <mat-label>Nombre de la promoción:</mat-label>
                                  <input type="text" matInput placeholder="Nombre promocion" autocomplete="off" id="nombrePromocion" formControlName="nombrePromocion">
                                  <mat-error *ngIf="isFieldInvalid('nombrePromocion', 'required')">
                                      El título es requerido.
                                    </mat-error>
                                    <mat-error *ngIf="isFieldInvalid('nombrePromocion', 'pattern')">
                                      Solo se aceptan letras.
                                    </mat-error>
                              </mat-form-field>
                          </p>
                      </div>
                      <div class="col-sm-6">
                              <p>
                                  <label>Precio:</label>
                                  <mat-form-field appearance="outline"  style="width: 95%;" required>
                                      <mat-label>Precio</mat-label>
                                      <input type="number" placeholder="Precio" matInput autocomplete="off" id="PrecioPaquete" formControlName="PrecioPaquete" >
                                      <mat-error *ngIf="isFieldInvalid('PrecioPaquete', 'required')">
                                          El precio es requerido.
                                        </mat-error>
                                        <mat-error *ngIf="isFieldInvalid('PrecioPaquete', 'pattern')">
                                          Solo se aceptan números.
                                        </mat-error>
                                  </mat-form-field>
                              </p>
                          </div>
                  </div>

                  <div class="row">
                      <div class="col-sm-6">
                          <p>
                            <label>Tipo de Promoción:</label>
                            <mat-form-field appearance="outline" style="width: 95%;" required>
                              <mat-label>Selecciona Tipo de Promoción</mat-label>
                              <mat-select formControlName="idChoProm" placeholder="Seleccione un tipo" (selectionChange)="onTipoPromocionChange($event.value)">
                                <!-- Opciones del select -->
                                <mat-option [value]="1">Paquete</mat-option>
                                <mat-option [value]="2">Individual</mat-option>
                              </mat-select>
                              <mat-error *ngIf="isFieldInvalid('idChoProm', 'required')">
                                Debes seleccionar un tipo de promoción.
                              </mat-error>
                            </mat-form-field>
                          </p>
                        </div>

                      <div class="col-sm-6">
                              <p>
                                  <label>Existencias:</label>
                                  <mat-form-field appearance="outline"  style="width: 95%;" required>
                                      <mat-label>Existencias</mat-label>
                                      <input type="number" placeholder="Existencias" matInput autocomplete="off" id="existencias" formControlName="existencias" >
                                      <mat-error *ngIf="isFieldInvalid('existencias', 'required')">
                                          Las existencias son requeridas.
                                        </mat-error>
                                        <mat-error *ngIf="isFieldInvalid('existencias', 'pattern')">
                                          Solo se aceptan números.
                                        </mat-error>
                                  </mat-form-field>
                              </p>
                          </div>
                  </div>

                  <div class="row">
                      <div class="col-sm-6">
                          <label>Fecha inicio:</label>
                          <mat-form-field appearance="outline" style="width: 95%;" required>
                              <mat-label>Fecha inicio:</mat-label>
                              <input matInput placeholder="Selecciona una fecha inicio" formControlName="FechaInicio" [matDatepicker]="picker1">
                              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                              <mat-datepicker #picker1></mat-datepicker>
                          </mat-form-field>
                      </div>
                      <div class="col-sm-6">
                          <label>Fecha fin:</label>
                          <mat-form-field appearance="outline" style="width: 95%;" required>
                              <mat-label>Fecha fin:</mat-label>
                              <input matInput placeholder="Selecciona una fecha fin" formControlName="FechaFin" [matDatepicker]="picker2">
                              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                              <mat-datepicker #picker2></mat-datepicker>
                          </mat-form-field>
                      </div>
                  </div>

                    <div class="row">
                      <div class="col-sm-6">
                          <p *ngIf="plan && plan.length > 0; else noServicios ">

                            <label>Membresías:</label>
                            <!-- Selector para selección múltiple -->
                             <mat-form-field *ngIf="isMultiple" appearance="outline" style="width: 95%;" required>
                              <mat-label>Selecciona varias membresías</mat-label>
                                <mat-select
                                multiple
                                formControlName="membresias">
                                  <mat-option *ngFor="let membresia of plan" [value]="membresia">
                                  {{ membresia.nombreProducto }} - {{ membresia.nombreCategoria }} - {{ membresia.marca }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>

                            <!-- Selector para selección única -->
                            <mat-form-field *ngIf="!isMultiple" appearance="outline" style="width: 95%;" required>
                              <mat-label>Selecciona una membresía</mat-label>
                                <mat-select
                                formControlName="membresias">
                                  <mat-option *ngFor="let membresia of plan" [value]="membresia">
                                  {{ membresia.nombreProducto }} - {{ membresia.nombreCategoria }} - {{ membresia.marca }}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                          </p>
                        </div>

                          <div class="col-sm-6">
                          <p *ngIf="plan && plan.length > 0">Agrega otra membresía:<a href="javascript:void(0)" (click)="openDialog()">Aquí</a></p>

                          <ng-template #noServicios>
                              <p>No hay membresías disponibles.</p>
                              <p>Agrega tu membresía: <a href="javascript:void(0)" (click)="openDialog()">Aquí</a></p>
                            </ng-template>

                      </div>

                  </div>
              </div>
          </form>
      </div>

      <div style="display: flex; justify-content: center;" mat-dialog-actions>
          <button mat-stroked-button (click)="enviar()"  class="aceptar">Aceptar</button>
          <button mat-stroked-button (click)="cerrarDialogo()" class="cancelar">Cancelar</button>
      </div>
</div>
