<div class="main-container">
<div class="header-container fixed-header">
  <div class="left-buttons">
    <button mat-icon-button (click)="toggleSidebar()" > 
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="right-buttons">
    <!-- <div *ngIf="mostrarElementoA; else otroElemento">
      <button mat-icon-button (click)="Online()" >
        <mat-icon class="Online">wifi</mat-icon>
      </button>
    </div>
    <ng-template #otroElemento>
      <button mat-icon-button (click)="Offline()" >
        <mat-icon class="Offline">wifi_off</mat-icon>
      </button>
    </ng-template> -->
    <button mat-icon-button *ngIf="isAdmin()" routerLink="./verConfiguracion">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button (click)="logoutBS()">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </div>
</div>
</div>
