<div class="custom-spinner-container" *ngIf="isLoading">
	<div class="custom-spinner">
		<div class="spinner-circle"></div>
		<div class="spinner-text">Cargando...</div>
	</div>
</div>

<div *ngIf="!isLoading">
   <div style="margin-top: 60px;">
      <mat-card *ngIf="isAdmin() || isRecep()">
         <mat-card-content>
            <div class="row" >
               <div class="col-lg-4 col-md-6 mb-4" *ngFor="let card of homeCard">
                  <mat-card class="orange-card">
                     <mat-card-header>
                        <mat-card-title>{{card.titulo}}</mat-card-title>
                     </mat-card-header>
                     <mat-card-content>
                        <!--col-8: Esta clase hace que la columna ocupe 8 de las 12 columnas disponibles en todos los tamaños de pantalla, desde el tamaño más pequeño hasta el más grande.-->
                        <br>
                        <div class="row">
                           <div class="col-4 d-flex align-items-center justify-content-center">
                              <img src="https://olympus.arvispace.com/olimpusGym/assets/img/{{card.icono}}" alt="icnono" class="img-fluid card-image">
                           </div>
                           <div class="col-8">
                              <br>
                              <p style="color: rgb(0, 0, 0); font-size: 25px; font-family:Verdana, Geneva, Tahoma, sans-serif; ">{{ card.cantidad }}</p>
                           </div>
                        </div>
                     </mat-card-content>
                  </mat-card>
               </div>
               <div class="col-lg-4 col-md-6 mb-4" *ngFor="let card of homeCard3">
                  <mat-card class="orange-card">
                     <mat-card-header>
                        <mat-card-title>{{card.titulo}}</mat-card-title>
                     </mat-card-header>
                     <mat-card-content>
                        <!--col-8: Esta clase hace que la columna ocupe 8 de las 12 columnas disponibles en todos los tamaños de pantalla, desde el tamaño más pequeño hasta el más grande.-->
                        <br>
                        <div class="row">
                           <div class="col-4 d-flex align-items-center justify-content-center">
                              <img src="https://olympus.arvispace.com/olimpusGym/assets/img/{{card.icono}}" alt="icnono" class="img-fluid card-image">
                           </div>
                           <div class="col-8">
                              <br>
                              <p style="color: rgb(0, 0, 0); font-size: 25px; font-family:Verdana, Geneva, Tahoma, sans-serif; ">{{ card.cantidad }}</p>
                           </div>
                        </div>
                     </mat-card-content>
                  </mat-card>
               </div>
               <div class="col-lg-4 col-md-6 mb-4" *ngFor="let card of homeCard4">
                  <mat-card class="orange-card">
                     <mat-card-header>
                        <mat-card-title>{{card.titulo}}</mat-card-title>
                     </mat-card-header>
                     <mat-card-content>
                        <!--col-8: Esta clase hace que la columna ocupe 8 de las 12 columnas disponibles en todos los tamaños de pantalla, desde el tamaño más pequeño hasta el más grande.-->
                        <br>
                        <div class="row">
                           <div class="col-4 d-flex align-items-center justify-content-center">
                              <img src="https://olympus.arvispace.com/olimpusGym/assets/img/{{card.icono}}" alt="icnono" class="img-fluid card-image">
                           </div>
                           <div class="col-8">
                              <br>
                              <p style="color: rgb(0, 0, 0); font-size: 25px; font-family:Verdana, Geneva, Tahoma, sans-serif; ">{{ card.cantidad }}</p>
                           </div>
                        </div>
                     </mat-card-content>
                  </mat-card>
               </div>
            </div>
         </mat-card-content>
      </mat-card>



<!--GRÁFICAS A PARTIR DE AQUÍ-->
<div style="margin-top: 60px;">
   <mat-card *ngIf="isAdmin() || isRecep()">

    <div class="row">
      <!-- Card para Visita -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">{{ currentDate }}</h3>
          </div>
          <div class="card-body">
            <ngx-charts-line-chart
              [view]="[300,300]"
              [scheme]="colorSchemeVisita"
              [results]="salesChartDataVisita"
              [gradient]="gradientVisita"
              [xAxis]="showXAxisVisita"
              [yAxis]="showYAxisVisita"
              [showXAxisLabel]="showXAxisLabelVisita"
              [showYAxisLabel]="showYAxisLabelVisita"
              [xAxisLabel]="xAxisLabelVisita"
              [yAxisLabel]="yAxisLabelVisita"
              [timeline]="timelineVisita"
              [legend]="true"
              [animations]="false"
              [legendTitle]="''"
              >
            </ngx-charts-line-chart>
            <p class="text-center">Visita: {{ total_visita }}</p>
            <p class="text-center">Total: {{ totalVisitaCantidad }}</p>
          </div>
        </div>
      </div>

      <!-- Card para Quincenal -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">{{ currentDate }}</h3>
          </div>
          <div class="card-body">
            <ngx-charts-line-chart
              [view]="[300, 300]"
              [scheme]="colorSchemeQuincenal"
              [results]="salesChartDataQuincenal"
              [gradient]="gradientQuincenal"
              [xAxis]="showXAxisQuincenal"
              [yAxis]="showXAxisQuincenal"
              [showXAxisLabel]="showXAxisLabelQuincenal"
              [showYAxisLabel]="showYAxisLabelQuincenal"
              [xAxisLabel]="yAxisLabelQuincenal"
              [yAxisLabel]="yAxisLabelQuincenal"
              [timeline]="timelineQuincenal"
              [legend]="true"
              [animations]="false"
              [legendTitle]="''"
              >
            </ngx-charts-line-chart>
            <p class="text-center">Quincena: {{ total_quincena }}</p>
            <p class="text-center">Total: {{ totalQuincenaCantidad }}</p>
          </div>
        </div>
      </div>

      <!-- Card para Mensualidades -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">{{ currentDate }}</h3>
          </div>
          <div class="card-body">
            <ngx-charts-line-chart
              [view]="[300, 300]"
              [scheme]="colorScheme2"
              [results]="salesChartData"
              [gradient]="gradient2"
              [xAxis]="showXAxis2"
              [yAxis]="showYAxis2"
              [showXAxisLabel]="showXAxisLabel2"
              [showYAxisLabel]="showYAxisLabel2"
              [xAxisLabel]="xAxisLabel2"
              [yAxisLabel]="yAxisLabel2"
              [timeline]="timeline2"
              [legend]="true"
              [legendTitle]="''"
              [animations]="false"
              >
            </ngx-charts-line-chart>
            <p class="text-center">Mensualidades: {{ total_meses }}</p>
            <p class="text-center">Total: {{ totalMesesCantidad }}</p>
          </div>
        </div>
      </div>
    </div>
   </mat-card>
</div>
<!--CIERRE DE GRÁFICAS-->

      <mat-card *ngIf="isAdmin() || isRecep()">
         <mat-card-header>
            <h3 class="icon-title">
               <mat-icon class="icon">grid_view</mat-icon>
               PRODUCTOS MÁS VENDIDOS
            </h3>
         </mat-card-header>
         <mat-card-content>
            <p style="border-top: 2px solid orange;"></p>

            <div  class="table-container">
              <table mat-table [dataSource]="dataSourceProductos" >
                <ng-container matColumnDef="Producto">
                    <th mat-header-cell *matHeaderCellDef>Producto</th>
                    <td mat-cell *matCellDef="let item">{{ item.nombreProducto }}</td>
                </ng-container>
                <ng-container matColumnDef="TotalDeVentas">
                    <th mat-header-cell *matHeaderCellDef>Total de Ventas</th>
                    <td mat-cell *matCellDef="let item">{{ item.totalProducto }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsProductos"></tr>
                <tr mat-row *matRowDef="let item; columns: displayedColumnsProductos; let i = index"></tr>
              </table>
          </div>
         </mat-card-content>
   </mat-card>
   <mat-card *ngIf="isAdmin() || isRecep()">
      <mat-card-header>
         <h3 class="icon-title">
            <mat-icon class="icon">people</mat-icon>
            LISTA DE ASISTENCIA
         </h3>
      </mat-card-header>
      <mat-card-content>
         <p style="border-top: 2px solid orange;"></p>
      </mat-card-content>
      <div  class="table-container">
         <table mat-table [dataSource]="dataSource" >
            <ng-container matColumnDef="title">
               <th mat-header-cell *matHeaderCellDef>Nombre</th>
               <td mat-cell *matCellDef="let item">{{ item.nombre }}</td>
            </ng-container>
            <ng-container matColumnDef="details">
               <th mat-header-cell *matHeaderCellDef>Hora de entrada</th>
               <td mat-cell *matCellDef="let item">{{ item.fechaHoraEntrada }}</td>
            </ng-container>
            <ng-container matColumnDef="price">
               <th mat-header-cell *matHeaderCellDef>Membresia</th>
               <td mat-cell *matCellDef="let item">{{ item.membresia }}</td>
            </ng-container>
            <ng-container matColumnDef="rol">
               <th mat-header-cell *matHeaderCellDef>Rol</th>
               <td mat-cell *matCellDef="let item">{{ item.usu }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let item; columns: displayedColumns; let i = index"></tr>
         </table>
         <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20, 30,40,50,100,200,300,4000]" showFirstLastButtons></mat-paginator>
      </div>
   </mat-card>
</div>
</div>


