<div>
   <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse-sync" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

   <div class="title" mat-dialog-title>
      <label>CATEGORIAS</label>
   </div>

    <div mat-dialog-content>
             <form [formGroup]="formularioCategoria">
                <div>
                   <div style="color:red">{{message}}</div>
                   <br/>
                   <div class="row">
                      <div class="col-sm-6">
                         <label>Nombre:</label>
                      </div>
                      <div class="col-sm-6">
                         <label>Estatus:</label>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-sm-6">
                         <p>
                            <mat-form-field appearance="outline"  style="width: 100%;" required>
                               <mat-label>Nombre</mat-label>
                               <input type="text" matInput placeholder="Bebidas" autocomplete="off" id="nombre" formControlName="nombre">
                               
                            </mat-form-field>
                         </p>
                      </div>
                      <div class="col-sm-6">
                         <p>
                            <mat-form-field style="width: 100%;height: 80px;" autocomplete="off" appearance="outline" required>
                               <mat-label style="font-family: Arial; font-size: 18px;">Seleccionar</mat-label>
                               <mat-select id="estatus" formControlName="estatus">
                                  <mat-option value="1" style="font-family: Arial; font-size: 18px;">Activo</mat-option>
                                  <mat-option value="0" style="font-family: Arial; font-size: 18px;">Inactivo</mat-option>
                               </mat-select>
                            </mat-form-field>
                         </p>
                      </div>
                   </div>
                   <div class="row">
                     <div class="col-sm-6">
                        <label >Descripción:</label>
                     </div>
                     <div class="col-sm-6">
                        <label>Fecha creación:</label>
                     </div>
                  </div>
                   <div class="row">
                      <div class="col-sm-6">
                         <p>
                            <mat-form-field appearance="outline" style="display: inline-block; width: 100%; height: 110px;" required>
                               <mat-label>Descripción</mat-label>
                               <textarea class="textarea" matInput rows="4" placeholder="Descripción breve de la categoria" cols="50" style="display: inline-block; width: 100%;height: 100%;" id="descripcion" formControlName="descripcion"> </textarea>
                            </mat-form-field>
                         </p>
                      </div>
                      <div class="col-sm-6">
                        <p>
                          <mat-form-field appearance="outline" style="width: 100%;" required>
                            <mat-label>Fecha creación</mat-label>
                            <!-- Utiliza el formato yyyy-MM-dd para el input date -->
                            <input type="date" matInput formControlName="fechaCreacion">
                          </mat-form-field>
                        </p>
                      </div> 
                   </div>
                </div>
             </form>
    </div>
    <div style="display: flex; justify-content: center;" mat-dialog-actions>
      <button mat-stroked-button type="submit" (click)="enviar()" style="background-color: #fd9727; font-size: 20px;  height: 40px; margin-right: 90px;">Aceptar</button>
      <button mat-stroked-button (click)="cerrarDialogo()" style="background-color: #000000; font-size: 20px;  height: 40px;color: white;">Cancelar</button>
   </div>

</div>