<div>
   <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse-sync" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
   <div class="title" mat-dialog-title>
      <label>CATEGORIAS</label>
   </div>
    <div mat-dialog-content>
             <form [formGroup]="formularioCategoria">
                <div>
                   <div style="color:red">{{message}}</div>
                   <br/>
                   <div class="row">
                      <div class="col-sm-6">
                         <label>Nombre:</label>
                      </div>
                      <div class="col-sm-6">
                         <label>Foto:</label>
                      </div>
                   </div>
                   <div class="row">
                     <div class="col-sm-6">
                        <p>
                            <mat-form-field appearance="outline" style="width: 100%;" required>
                                <mat-label>Nombre</mat-label>
                                <input type="text" matInput placeholder="Nombre" autocomplete="off" id="nombreCategoriaP" formControlName="nombreCategoriaP">
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="col-sm-6">
                     <p>
                         <input accept="image/*" type="file" name="image" class="d-none" id="imageInput" (change)="handleImageChange($event)">
                         <label for="imageInput" class="btn btn-primary">Seleccionar Imagen</label>
                     </p>
                 </div>
                 
                 
                                 
                  </div>                    
                </div>
             </form>
    </div>
    <div style="display: flex; justify-content: center;" mat-dialog-actions>
      <button mat-stroked-button (click)="enviar()" style="background-color: #fd9727; font-size: 20px;  height: 40px; margin-right: 90px;">Aceptar</button>
      <button mat-stroked-button (click)="cerrarDialogo()" style="background-color: #000000; font-size: 20px;  height: 40px;color: white;">Cancelar</button>
   </div>

</div>