.grid-menu{
    display: grid;
    grid-template-columns: 90%;
}

.full-width {
    font-size: 14px;
    width: 100%;
}

table {
    width: 100%;
}

.total-ventas {
  text-align: right; /* Alinea el contenido a la izquierda */
  margin-top: 20px;
}

.total-label {
  font-size: 18px;
  color: #333; /* Color del texto */
  margin-bottom: 5px;
}

.button-pay{
    width: 100px;
    height: 40px;
    font-weight: bold;
    margin-left: 5px;
    border-radius: 15px;
    background-color: #fd9727;
}

.button-icon{
    background-color: #fd9727;
    color: #000000;
    border: #ffffff;

}

.icon-size{
    font-size: 25px;
}

.activo-icon {
    color: rgb(13, 235, 13);
  }
  
  .inactivo-icon {
    color: red;
  }


.search-container {
    display: flex;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    align-items: center;
  }

  .search-input {
    border: none;
    outline: none;
    background: transparent;
    padding: 4px 8px;
    margin-right: 4px;
    width: calc(100% - 30px); /* ajusta el tamaño del input */
    pointer-events: none; /* evita la interacción con el input */
  }

  .search-icon {
    width: 60px;
    height: 70px;
   margin-top: -30px;
    pointer-events: none; /* evita la interacción con la imagen */
    cursor: pointer;
  }

  .mat-button {
    background-color: #F9A640;
    color: #000000;
}

.grid-inputs{
    display: grid;
    grid-template-columns: 25% 5% 25% 5% 25%  
}

.table-container {
    overflow-x: auto; /* Permite desplazamiento horizontal */
    max-width: 100%;  /* Evita que la tabla sea más ancha que el contenedor */
  }

  .grid-input-date{
    display: grid;
    grid-template-columns: 25% 10% 25% 10% 30%   
}

.estatus-activo {
  background-color: #00aa1c;
  color: white;
  border-radius: 5px; /* Ajusta el radio según tus preferencias para hacerlo más o menos ovalado */
  padding: 3px; /* Añade un poco de espacio alrededor del contenido */
 
  text-align: center; /* Centra el contenido horizontalmente */
}

.estatus-inactivo {
  background-color: #a30000;
  color: rgb(255, 255, 255);
  border-radius: 5px; /* Ajusta el radio según tus preferencias para hacerlo más o menos ovalado */
  padding: 3px; /* Añade un poco de espacio alrededor del contenido */
  text-align: center; /* Centra el contenido horizontalmente */
}

/*CARGANDO*/
.custom-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.custom-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #fd9727;
  border-top: 4px solid transparent;
  animation: spin 1s linear infinite;
}

.spinner-text {
  margin-top: 10px;
  font-weight: bold;
  color: #000000; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.custom-icon {
  font-size: 16px;
  color: #999999; /* Cambia el color según lo desees */
  /* Agrega otros estilos CSS según sea necesario */
  margin-left: 10px;
  margin-top: 5px;
}
