

<div>
  <div  class="container">
    <div class="cuadrado">
    <div class="title_page">
      <h1>Bienvenido </h1>
      <h4>Agrega tu contraseña</h4>
    </div>
    <div>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field appearance="outline" class="inputs_css">
            <mat-label>Nueva contraseña</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="Contraseña"
              formControlName="nuevaPassword"
              required
            />
            
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>

            <mat-error
              *ngIf="
                resetForm.get('nuevaPassword')?.hasError('minlength') &&
                !resetForm.get('nuevaPassword')?.hasError('required')
              "
            >
              <strong >**Minimo 8 carácteres...</strong>
            </mat-error>
            <mat-error
              *ngIf="resetForm.get('nuevaPassword')?.hasError('required')"
              ><strong class="txt_msg">**Campo requerido</strong></mat-error
            >
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" class="inputs_css">
            <mat-label>Confirmar contraseña</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="Contraseña"
              formControlName="confirmaPassword"
              required
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error
            *ngIf="
              resetForm.get('confirmaPassword')?.hasError('minlength') &&
              !resetForm.get('confirmaPassword')?.hasError('required')
            "
          >
            <strong class="txt_msg">**Minimo 8 carácteres...</strong>
          </mat-error>
          <mat-error
            *ngIf="resetForm.get('confirmaPassword')?.hasError('required')"
            ><strong >**Campo requerido</strong></mat-error
          >
          </mat-form-field>
        </p>

        <button
          type="submit"
          class="btn_int"
          mat-raised-button
          style="background: #fd9727; color: white"
          [disabled]="resetForm.invalid"
        >
          Confirmar
        </button>
      </form>
    </div>
  </div>
  </div>
</div>
