.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.title_page {
  text-align: center;
  margin-bottom: 20px;
  color: #333; /* Color del texto */
}

.cuadrado{
  width: 60%;
  background-color: #e6e6e6; /* Color del formulario */
  padding: 20px;
  border-radius: 10px; /* Esquinas redondeadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.inputs_css {
  width: 100%;
}

.txt_msg {
  color: red;
}

.btn_int {
  margin-top: 20px;
  width: 100%;
  background-color: #fd9727; /* Color del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efecto de transición */
}

.btn_int:hover {
  background-color: #e07521; /* Cambio de color al pasar el mouse */
}
