<div class="container mt-4">
	<div class="responsive-div">
	   <div>
		  <mat-tab-group>
			 <mat-tab label="Sucursales" style="font-size: xx-large;">
				<div class="content_margin">
				<form [formGroup]="formularioSucursales" class="responsive-form">
				   <div >
					  <div style="color: red;">{{message}}</div>
					  <br />
					  <div class="row">
						 <div class="col-sm-6">
							<label style="font-size: 16px;" >Nombre:</label>
						 </div>
						 <div class="col-sm-6">
							<label  style="font-size: 16px;">Tipo:</label>
						 </div>
					  </div>
					  <div class="row">
						 <div class="col-sm-6">
							<p>
							   <mat-form-field appearance="outline"  style="width: 95%;" required >
								  <mat-label>Nombre</mat-label>
								  <input type="text" matInput placeholder="Nombre" autocomplete="off" id="nombreGym" formControlName="nombreGym" />
							   </mat-form-field>
							</p>
						 </div>
						 <div class="col-sm-6">
							<p>
							   <mat-form-field style="height: 80px; width: 95%;" autocomplete="off" required>
								  <mat-label style="font-family: Arial; font-size: 18px;">Seleccionar</mat-label>
								  <mat-select id="tipo" formControlName="tipo">
									 <mat-option value="Externo" style="font-family: Arial; font-size: 18px;">Externo</mat-option>
									 <mat-option value="Interno" style="font-family: Arial; font-size: 18px;">Interno</mat-option>
								  </mat-select>
							   </mat-form-field>
							</p>
						 </div>
					  </div>
					  <div class="row">
						 <div class="col-sm-6">
							<label style="font-size: 16px;">Telefono:</label>
						 </div>
						 <div class="col-sm-6">
							<label style="font-size: 16px;">Disponibilidad:</label>
						 </div>
					  </div>
					  <div class="row">
						 <div class="col-sm-6">
							<p>
							   <mat-form-field appearance="outline"  style="width: 95%;"  required>
								  <mat-label>Telefono</mat-label>
								  <input type="text" placeholder="telefono" matInput autocomplete="off" id="telefono" formControlName="telefono" [errorStateMatcher]="matcher" />
								  <mat-error *ngIf="formularioSucursales.get('telefono')?.hasError('pattern') && !formularioSucursales.get('telefono')?.hasError('required')">
									 <strong class="txt_msg">** Formato no válido...</strong>
								  </mat-error>
							   </mat-form-field>
							</p>
							<p>
							   <label style="font-size: 16px;" >Sucursal:</label>
							   <mat-form-field style="width: 95%; height: 80px;"  required>
								  <mat-label style="font-family: Arial; font-size: 18px;">Seleccionar</mat-label>
								  <mat-select id="idFranquicia" formControlName="Franquicia_idFranquicia">
									 <mat-option *ngFor="let opcion of franquicia" [value]="opcion.value"> {{ opcion.label }}</mat-option>
								  </mat-select>
							   </mat-form-field>
							</p>
						 </div>
						 <div class="col-sm-6">
							<p>
							   <label style="margin-left: 45px;font-size: 16px;">Casilleros:</label>
							   <mat-radio-group style="margin-left: 70px;" formControlName="casilleros" id="casilleros" class="custom-radio-group" color="warn" required>
								  <mat-radio-button value="1" class="custom-radio-button">Sí</mat-radio-button>
								  <mat-radio-button value="0" class="custom-radio-button">No</mat-radio-button>
							   </mat-radio-group>
							</p>
							<p>
							   <label style="margin-left: 45px;font-size: 16px;">Estacionamiento:</label>
							   <mat-radio-group style="margin-left: 19px;" id="estacionamiento" formControlName="estacionamiento" class="custom-radio-group" color="warn" required>
								  <mat-radio-button value="1" class="custom-radio-button">Sí</mat-radio-button>
								  <mat-radio-button value="0" class="custom-radio-button">No</mat-radio-button>
							   </mat-radio-group>
							</p>
							<p>
							   <label style="margin-left: 45px;font-size: 16px;">Regaderas:</label>
							   <mat-radio-group style="margin-left: 65px;" id="regaderas" formControlName="regaderas" class="custom-radio-group" color="warn" required>
								  <mat-radio-button value="1" class="custom-radio-button">Sí</mat-radio-button>
								  <mat-radio-button value="0" class="custom-radio-button">No</mat-radio-button>
							   </mat-radio-group>
							</p>
							<p>
							   <label style="margin-left: 45px;font-size: 16px;">Bicicletero:</label>
							   <mat-radio-group style="margin-left: 65px;" id="bicicletero" formControlName="bicicletero" class="custom-radio-group" color="warn" required>
								  <mat-radio-button value="1" class="custom-radio-button">Sí</mat-radio-button>
								  <mat-radio-button value="0" class="custom-radio-button">No</mat-radio-button>
							   </mat-radio-group>
							</p>
						 </div>
					  </div>
					  <div class="row">
						 <div class="col-sm-6">
							<label style="font-size: 16px;">Dirección:</label>
						 </div>
					  </div>
					  <div class="row">
						 <div class="col-sm-4">
							<mat-form-field appearance="outline" style="width: 100%;" required>
							   <mat-label>Estado</mat-label>
							   <input type="text" placeholder="Estado" matInput autocomplete="off" id="estado" formControlName="estado" />
							</mat-form-field>
						 </div>
						 <div class="col-sm-4">
							<mat-form-field appearance="outline" style="width: 100%;" required>
							   <mat-label>Ciudad</mat-label>
							   <input type="text" placeholder="ciudad" matInput autocomplete="off" id="ciudad" formControlName="ciudad" />
							</mat-form-field>
						 </div>
						 <div class="col-sm-4">
							<mat-form-field appearance="outline" style="width: 100%;" required>
							   <mat-label>Colonia</mat-label>
							   <input type="text" placeholder="colonia" matInput autocomplete="off" id="colonia" formControlName="colonia" />
							</mat-form-field>
						 </div>
					  </div>
					  <div class="row">
						 <div class="col-sm-5">
							<mat-form-field appearance="outline" style="width: 100%;" required>
							   <mat-label>Calle</mat-label>
							   <input type="text" placeholder="calle" matInput autocomplete="off" id="calle" formControlName="calle" />
							</mat-form-field>
						 </div>
						 <div class="col-sm-3">
							<mat-form-field appearance="outline" style="width: 100%;" required>
							   <mat-label>Codigo postal</mat-label>
							   <input type="text" placeholder="codigoPostal" matInput autocomplete="off" id="codigoPostal" formControlName="codigoPostal" />
							</mat-form-field>
						 </div>
						 <div class="col-sm-2">
							<mat-form-field appearance="outline" style="width: 100%;" required>
							   <mat-label>numExt</mat-label>
							   <input type="text" placeholder="numExt" matInput autocomplete="off" id="numExt" formControlName="numExt" />
							</mat-form-field>
						 </div>
						 <div class="col-sm-2">
							<mat-form-field appearance="outline" style="width: 100%;" required>
							   <mat-label>numInt</mat-label>
							   <input type="text" placeholder="numInt" matInput autocomplete="off" id="numInt" formControlName="numInt" />
							</mat-form-field>
						 </div>
					  </div>
					  <div style="margin: auto; display: block; text-align: center;">
						 <button mat-raised-button type="submit" (click)="actualizar()" style="background-color: #fd9727; font-size: 20px; margin-top: 50px; height: 40px; width: 120px;">Aceptar</button>
						 <button mat-raised-button type="submit" (click)="cerrarDialogo()" style="background-color: #000000; font-size: 20px; margin-left: 100px; margin-top: 50px; height: 40px; width: 120px;color: white;">Cancelar</button>
					  </div>
				   </div>
				   <br/>
				</form>
			</div>
			 </mat-tab>
		  </mat-tab-group>
	   </div>
	</div>
 </div>