select {
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 10px;
}

.input-date {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.mat-button {
    background-color: #F9A640;
    color: #000000;
    font-size: 13px;
}

.container {
    margin: 20px 0;
}

.mat-form-field {
    width: 100%;
}

.total-ventas {
    text-align: right; /* Alinea el contenido a la izquierda */
    margin-top: 20px;
}

.total-label {
    font-size: 18px;
    color: #333; /* Color del texto */
    margin-bottom: 5px;
}

/*CARGANDO*/
.custom-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.custom-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #fd9727;
  border-top: 4px solid transparent;
  animation: spin 1s linear infinite;
}

.spinner-text {
  margin-top: 10px;
  font-weight: bold;
  color: #000000;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
