<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse-sync" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

<div mat-dialog-title class="title">
<h2 style="padding: 15px;">INFORMACIÓN DEL CLIENTE</h2>
<button mat-icon-button (click)="cerrarDialogo()"><mat-icon style="font-size: 26px;color: rgb(151, 0, 0)">cancel</mat-icon></button>
</div>

<div mat-dialog-content>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-5">
      <img [src]="photo"
       class="size_image" alt="Imagen del Cliente no disponible" style="width: 90%;">
      <button mat-button (click)="abrirDialogFoto(data)" style="background-color: #000000; color: white;">
        <mat-icon>camera_alt</mat-icon> <!-- Icono de cámara -->
        Tomar Foto
      </button>
    </div>
    <div class="col-sm-7">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-sm-1" *ngIf="mostrarEstatus">
            <div style="display: flex; align-items: center;">
              <mat-slide-toggle
              color="primary"
              [checked]="isActive"
              (change)="onToggle($event, this.data.id_empleado)">
              </mat-slide-toggle>
            </div>
          </div>
          <div class="col-sm-5">
            <mat-form-field appearance="outline" class="formInputs" style="width: 90%;">
              <mat-label>Clave:</mat-label>
              <input id="estafeta" formControlName="estafeta" type="text" matInput autocomplete="off" placeholder="Clave" />
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="formInputs" style="width: 92%;">
              <mat-label>Teléfono:</mat-label>
              <input id="telefono" formControlName="telefono" type="text" matInput autocomplete="off" placeholder="Teléfono" />
            </mat-form-field>
          </div>
        </div>

        <!-- Nombre -->
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="formInputs" style="width: 95%;">
              <mat-label>Nombre:</mat-label>
              <input id="nombre" formControlName="nombre" type="text" matInput autocomplete="off" placeholder="Nombre" />
            </mat-form-field>
          </div>
        </div>

        <!-- Correo -->
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="formInputs" style="width: 95%;">
              <mat-label>Correo electrónico:</mat-label>
              <input id="email" formControlName="correo" type="text" matInput autocomplete="off" placeholder="Correo electrónico" />
            </mat-form-field>
          </div>
        </div>
        <!-- Botón Actualizar Información -->
       <div class="row" style="margin-top: 20px; display: flex; justify-content: space-between;">
  <!-- Botón Restablecer -->
  <div class="col-sm-6" *ngIf="mostrarRestablecer">
    <button mat-raised-button (click)="OpenRestablecer(this.data.id_empleado)"
      style="background-color:whitesmoke; font-size: 15px; height: 40px;">
     Restablecer contraseña
    </button>
  </div>

  <!-- Botón Actualizar Información -->
  <div class="col-sm-6">
    <button mat-raised-button (click)="actualizarCliente2()"
      style="background-color: #fd9727; font-size: 15px; height: 40px;">
      Actualizar información
    </button>
  </div>
</div>

      </form>
    </div>
  </div>

<br><br>
  <div class="grid">

    <div class="column">
      <ng-container >
        <h3 style="font-weight: bold;">Membresia:</h3> {{ data.membresia }}
      </ng-container>

    </div>

    <div class="column" >
      <ng-container  *ngIf="duracionCalculo2(data.fecha_inicio,data.fecha_caducidad)" >
        <h3 style="font-weight: bold;">Duración:</h3>  {{ duracionCalculo2(data.fecha_inicio,data.fecha_caducidad) || null }}
      </ng-container>
    </div>



    <div class="column">
      <ng-container>
        <h3 style="font-weight: bold;">Información de la membresia:</h3>
        <ul>
          <li *ngFor="let producto of productos">
            <ng-container *ngIf="duracionCalculo2(producto.fecha_inicio, producto.fecha_caducidad) > 0">
              {{ producto.marca }} -  {{ producto.nombreProducto }}
              - Duración: {{ duracionCalculo2(producto.fecha_inicio, producto.fecha_caducidad) }} días
            </ng-container>
          </li>
        </ul>
      </ng-container>
      <ng-template #notActive>
        <h3 style="font-weight: bold;">Información de la membresia:</h3> N/A
      </ng-template>
    </div>
  </div>

  <br>

  <h3 style="font-weight: bold;">Historial de membresias adquiridas:</h3>




  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;">{{ column }}</th>
        <td mat-cell *matCellDef="let memCli" style="text-align: center;">
          <ng-container *ngIf="column === 'ID'">
            {{ memCli.estafeta }}
          </ng-container>
          <ng-container *ngIf="column === 'Nombre'">
            {{ memCli.nombreCompleto }}
          </ng-container>
          <ng-container *ngIf="column === 'Membresía'">
            {{ memCli.membresia}}
          </ng-container>
          <ng-container *ngIf="column === 'Precio'">
            {{ memCli.precioPedido | currency }}
          </ng-container>
          <ng-container *ngIf="column === 'Duración'">
            <div *ngIf="duracionCalculo2(memCli.fecha_inicio,memCli.fecha_caducidad)">
              <!-- Aquí puedes mostrar el resultado de la evaluación -->
                {{duracionCalculo2(memCli.fecha_inicio,memCli.fecha_caducidad)}}
            </div>

          </ng-container>
          <ng-container *ngIf="column === 'Fecha Inicio'">
            {{ memCli.fecha_inicio | date:'dd/MM/yyyy' || null  }}
          </ng-container>
          <ng-container *ngIf="column === 'Fecha Fin'">
            {{ memCli.fecha_caducidad | date:'dd/MM/yyyy' || null  }}
          </ng-container>

              <ng-container *ngIf="column === 'Status'">
                <!-- Mostrar el texto del estatus con estilos condicionales -->
                <p [ngClass]="{'estatus-activo': memCli.estatus === '1', 'estatus-inactivo': memCli.estatus !== '1'}">
                  {{ memCli.estatus === '1' ? 'Activo' : 'Inactivo' }}
                </p>

                <!-- Mostrar íconos según el estatus -->
                <ng-container *ngIf="memCli.estatus === '1'">
                  <mat-icon style="color:green">timer</mat-icon>
                </ng-container>
                <ng-container *ngIf="memCli.estatus !== '1'">
                  <mat-icon style="color:red">timer_off</mat-icon>
                </ng-container>
              </ng-container>

          <ng-container *ngIf="column === 'Eliminar'">
            <button *ngIf="isAdmin()" mat-icon-button color="warn"  (click)="borrarSucursal(memCli.id_pedido)">
              <mat-icon>delete</mat-icon>
            </button>
            <button *ngIf="isRecep()" mat-icon-button color="warn" >
              <mat-icon>block</mat-icon>
            </button>
         </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let productofila; columns: displayedColumns"></tr>
    </table>


  </div>
  <mat-paginator #paginatorHistorialMembre [pageSizeOptions]="[5, 10, 25, 50, 100]"
    showFirstLastButtons></mat-paginator>
</div>
