<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse-sync" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

<div mat-dialog-title class="title">
<h2 style="padding: 15px;">INFORMACIÓN DEL CLIENTE</h2>
<button mat-icon-button (click)="cerrarDialogo()"><mat-icon style="font-size: 26px;color: rgb(151, 0, 0)">cancel</mat-icon></button>
</div>

<div mat-dialog-content>
  <br>
<div class="row">
  <div class="col-sm-5">
    <img [src]="photo" class="size_image" alt="Imagen del Cliente no disponible" style="width: 90%;">
    <button mat-button (click)="abrirDialogFoto(data)" style="background-color: #000000; color: white;">
      <mat-icon>camera_alt</mat-icon> <!-- Icono de cámara -->
      Tomar Foto
    </button>    
  </div>
  <div class="col-sm-7">
    <form [formGroup]="form">
    <div class="row">
    

   <!--  <div *ngIf="huella !== null && huella !== 'null' && huella !== '0'; else noHuella">
        <img src="https://olympus.arvispace.com/gimnasioRoles/assets/img/huella.png" style="width: 8%;"/>
        <label style="background-color: rgb(0, 155, 0); color: white; padding: 5px;">
          Huella registrada
        </label>
        <hr>
      </div>

      <ng-template #noHuella>
        <div style="width: 100%;">
          <label style="background-color: rgb(177, 0, 0); color: white; padding: 5px;">Huella no registrada</label>
          <hr>
        </div>
      </ng-template>--> 
      
    
      <div class="col-sm-12">
        <mat-form-field appearance="outline" class="formInputs" style="width: 90%;">
          <mat-label>Nombre:</mat-label>
          <input id="nombre" formControlName="nombre" type="text" matInput autocomplete="off" placeholder="nombre" />
        </mat-form-field>

      </div>
      <!--<div class="col-sm-6">
        <mat-form-field appearance="outline" class="formInputs" style="width: 90%;">
          <mat-label>Apellido paterno:</mat-label>
          <input id="apPaterno" formControlName="apPaterno" type="text" matInput autocomplete="off" placeholder="Apellido paterno" />
        </mat-form-field>

      </div>-->
    </div>

    <div class="row">
     <!--<div class="col-sm-6">
        <mat-form-field appearance="outline" class="formInputs" style="width: 90%;">
          <mat-label>Apellido materno:</mat-label>
          <input id="apMaterno" formControlName="apMaterno" type="text" matInput autocomplete="off" placeholder="Apellido materno" />
        </mat-form-field>
      </div>--> 
      <div class="col-sm-12">
        <mat-form-field appearance="outline" class="formInputs" style="width: 90%;">
          <mat-label>Telefono:</mat-label>
          <input id="telefono" formControlName="telefono" type="text" matInput autocomplete="off" placeholder="Telefono" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <mat-form-field appearance="outline" class="formInputs" style="width: 90%;">
          <mat-label>Correo electronico.</mat-label>
          <input id="email" formControlName="correo" type="text" matInput autocomplete="off" placeholder="Correo electronico" />
        </mat-form-field>
      </div>
      <!--<div class="col-sm-6">
        <mat-form-field appearance="outline" class="formInputs" style="width: 90%;">
          <mat-label>Estatura</mat-label>
          <input id="estatura" formControlName="estatura" type="text" matInput autocomplete="off" placeholder="Estatura" />
        </mat-form-field>
      </div>-->
    </div>

    <div class="row">
      <!--<div class="col-sm-6">
        <mat-form-field appearance="outline" class="formInputs" style="width: 90%;">
          <mat-label>Peso</mat-label>
          <input id="peso" formControlName="peso" type="text" matInput autocomplete="off" placeholder="Peso" />
        </mat-form-field>
      </div>-->
      <div class="col-sm-12">
        <div style="display: flex; justify-content: center;">
          <button mat-raised-button (click)="actualizar()" style="background-color: #fd9727; font-size: 15px;  height: 40px;">Actualizar información</button>
       </div>
      </div>
    </div>
    </form>

  </div>
</div>
<br><br>
  <div class="grid">
    <!--<div class="column">
      <h3 style="font-weight: bold;">Nombre:</h3> {{ data.nombre }}
    </div>-->

    <!--<div class="column">
      <h3 style="font-weight: bold;">Sucursal:</h3> {{ data.sucursal }}
    </div>-->

    <div class="column">
      <ng-container >
        <h3 style="font-weight: bold;">Membresia:</h3> {{ data.membresia }}
      </ng-container>
      <!--<ng-template #notActive>
        <h3 style="font-weight: bold;">Membresia:</h3> N/A
      </ng-template>-->
    </div>

    <div class="column">
      <!--<ng-container *ngIf="data.action === 'Activo'; else notActive">
      <h3 style="font-weight: bold;">Duración:</h3> {{ this.duracion }}
    </ng-container>
    <ng-template #notActive>
      <h3 style="font-weight: bold;">Duración:</h3> N/A
    </ng-template>-->
      <ng-container >
        <h3 style="font-weight: bold;">Duración:</h3> {{ this.duracion }}
      </ng-container>
    </div>

    <div class="column">
      <ng-container>
        <h3 style="font-weight: bold;">Información de la membresia:</h3> {{ data.infoMembresia }}
      </ng-container>
      <ng-template #notActive>
        <h3 style="font-weight: bold;">Información de la membresia:</h3> N/A
      </ng-template>
    </div>
  </div>

  <br>

  <h3 style="font-weight: bold;">Historial de membresias adquiridas:</h3>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;">{{ column }}</th>
        <td mat-cell *matCellDef="let memCli" style="text-align: center;">
          <ng-container *ngIf="column === 'ID'">
            {{ memCli.ID }}
          </ng-container>
          <ng-container *ngIf="column === 'Nombre'">
            {{ memCli.Nombre }}
          </ng-container>
          <ng-container *ngIf="column === 'Membresía'">
            {{ memCli.Membresia }}
          </ng-container>
          <ng-container *ngIf="column === 'Precio'">
            ${{ memCli.Precio }}
          </ng-container>
          <ng-container *ngIf="column === 'Duración'">
            {{ memCli.Duracion }} días
          </ng-container>
          <ng-container *ngIf="column === 'Fecha Inicio'">
            {{ memCli.Fecha_Inicio }}
          </ng-container>
          <ng-container *ngIf="column === 'Fecha Fin'">
            {{ memCli.Fecha_Fin }}
          </ng-container>
          <!--<ng-container *ngIf="column === 'Status'">
                {{ memCli.Status }}
              </ng-container>-->
          <ng-container *ngIf="column === 'Status'">
            <p>{{ memCli.Status }}</p>
            <ng-container *ngIf="estaEnRango(memCli.Fecha_Inicio, memCli.Fecha_Fin) && memCli.Status === 'Activo'">
              <mat-icon style="color:green">timer</mat-icon>
            </ng-container>
            <ng-container *ngIf="!estaEnRango(memCli.Fecha_Inicio, memCli.Fecha_Fin) && memCli.Status === 'Activo'">
              <mat-icon style="color:green">timer</mat-icon>
            </ng-container>
            <ng-container *ngIf="estaEnRango(memCli.Fecha_Inicio, memCli.Fecha_Fin) && memCli.Status !== 'Activo'">
              <mat-icon style="color:red">timer_off</mat-icon>
            </ng-container>
            <ng-container *ngIf="!estaEnRango(memCli.Fecha_Inicio, memCli.Fecha_Fin) && memCli.Status !== 'Activo'">
              <mat-icon style="color:red">timer_off</mat-icon>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let productofila; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator #paginatorHistorialMembre [pageSizeOptions]="[5, 10, 25, 50, 100]"
    showFirstLastButtons></mat-paginator>
</div>
<div mat-dialog-actions fxLayoutAlign="center center">
  <!--<button mat-button (click)="cerrarDialogo()">Capturar huella</button>-->
  <a href="{{url}}">
    <button mat-button (click)="capturarHuella()" style="background-color: #000000; color: white;">
      <mat-icon>fingerprint</mat-icon> <!-- Icono de huella dactilar -->
      Capturar huella
    </button>
  </a>
  
  <!--<a href="#">{{url}}</a>
  <button mat-button (click)="cerrarDialogo()">Cerrar</button>-->
</div>