<div >
   <div class="title header-container"  mat-dialog-title>
      <label class="ventas-label">VENTAS</label>
      <div class="button-container">
         <button mat-icon-button (click)="toggleMaximize()">
           <mat-icon>{{ isMaximized ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
         </button>
       </div>
   </div>
   <div  mat-dialog-content [ngClass]="{'maximized': isMaximized}">
      <div>
         <br>
         <h3>Ingresa el valor de una columna</h3>
         <mat-form-field class="full-width">
            <mat-label>Filtro</mat-label>
            <input
            matInput
            (input)="handleFilterInput($event)"
            (keyup)="applyFilter($event)"
            placeholder="Busca por columnas"
            #input
            />
         </mat-form-field>
         <div class="table-container">
            <table *ngIf="showTable" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
               <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                 <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
                 <td mat-cell *matCellDef="let prod">
                   <ng-container *ngIf="column === 'Nombre del Producto'">
                     {{ prod.nombreProducto }} {{ prod.marca }}
                   </ng-container>
                   <ng-container *ngIf="column !== 'Nombre del Producto' && column !== 'cantidad' && column !== 'acciones'">
                     {{ prod[columnMapping[column]] }}
                   </ng-container>
                   <ng-container *ngIf="column === 'cantidad'">
                     <input matInput [(ngModel)]="prod.cantidad" type="number" min="0" class="custom-input custom-mat-form-field" (keyup.enter)="validarYAgregarProducto(prod)" />
                   </ng-container>
                   <ng-container *ngIf="column === 'acciones'">
                     <button (click)="validarYAgregarProducto(prod)" style="background-color: #000000; color: #ffffff; border: none; padding: 10px; height: 40px; border-radius: 5px; cursor: pointer; display: flex; align-items: center;">
                       Agregar
                       <mat-icon class="add-box-icon" style="margin-left: 5px; font-size: 18px;">add_box</mat-icon>
                     </button>
                   </ng-container>
                 </td>
               </ng-container>
               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let productofila; columns: displayedColumns"></tr>
             </table>
             

            <mat-paginator #paginator [pageSizeOptions]="[3, 10, 20, 30,40,50,100,200,300,4000]" showFirstLastButtons></mat-paginator>
         </div>
         <div class="resumen">
            <h1>Resumen de Compra</h1>
            <table>
               <thead>
                  <tr>
                     <th>Nombre</th>
                     <th>Cantidad</th>
                     <th>Precio Unitario</th>
                     <th>Total</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let selectedProduct of selectedProducts; let i = index">
                     <td>{{ selectedProduct.nombreProducto }}</td>
                     <td >{{ selectedProduct.cantidad }}</td>
                     <td>${{ selectedProduct.precioSucursal }}</td>
                     <td>${{ selectedProduct.precioSucursal * selectedProduct.cantidad }}</td>
                     <td>
                        <button mat-icon-button (click)="quitarArchivo(i)">
                           <mat-icon>delete</mat-icon>
                        </button>
                     </td>
                  </tr>
               </tbody>
            </table>
            <div class="total">
               <h2>Total a Pagar: ${{ totalAPagar }}</h2>
               <mat-form-field appearance="fill">
                  <mat-label>Dinero recibido</mat-label>
                  <input matInput [(ngModel)]="dineroRecibido" placeholder="Ingresa cantidad" #input type="number" min="0" />
               </mat-form-field>
               <h2>Cambio: ${{ (dineroRecibido - totalAPagar).toFixed(2) }}</h2>
               <!--<button mat-raised-button color="#fd9727"  (click)="enviarDatosYDetallesVenta()">Registrar venta</button>-->
            </div>
         </div>
      </div>
   </div>
   <div style="display: flex; justify-content: center;" mat-dialog-actions>
      <button  mat-raised-button style="font-size: 20px; margin-top: 17px;height: 40px;background-color: black; color: #ffffff;" (click)="imprimirResumen()">Imprimir</button>
      <button mat-stroked-button (click)="cerrarDialogo()" style="background-color: #fd9727; font-size: 20px; margin-top: 17px; height: 40px;color: rgb(0, 0, 0);">Cancelar</button>
   </div>
</div>
