<div >
   <div >
      <div class="title"  mat-dialog-title>
         <label>PRODUCTOS</label>
      </div>
      <div mat-dialog-content>
         <br>
         <div >
            <form [formGroup]="form"  enctype="multipart/form-data">
               <div >
                  <div style="color:red">{{message}}</div>
                  <fieldset>
                     <div class="row">
                        <p>
                           <mat-form-field appearance="outline"  style="width: 100%;" required>
                              <mat-label>Codigo de barra</mat-label>
                              <input
                                 matInput
                                 type="text"
                                 placeholder="Escribelo o escanealo"
                                 id="codigoBarra"
                                 formControlName="codigoBarra"
                                 autocomplete="off"
                                 />
                           </mat-form-field>
                        </p>
                     </div>
                     <div class="row">
                        <div class="col-sm-12">
                           <p>
                              <mat-form-field style="width: 100%;" required appearance="outline">
                                 <mat-label>Nombre</mat-label>
                                 <input 
                                    matInput
                                    placeholder="Nombre del producto"
                                    type="text"
                                    id="descripcion"
                                    autocomplete="off"
                                    formControlName="descripcion"
                                    />
                              </mat-form-field>
                           </p>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-6">
                           <p>
                              <mat-form-field appearance="outline" style="width: 100%;">
                                 <mat-label>Nombre de la categoria</mat-label>
                                 <input
                                   matInput
                                   formControlName="nombreCategoriaP"
                                   placeholder="Escribe una categoria"
                                   [matAutocomplete]="auto"
                                   (input)="buscarCategorias()"
                                 />
                                 <mat-autocomplete #auto="matAutocomplete" (optionSelected)="buscarCategorias()">
                                   <mat-option *ngFor="let categoria of filteredCategorias" [value]="categoria">
                                     {{ categoria }}
                                   </mat-option>
                                 </mat-autocomplete>
                               </mat-form-field>
                           </p>
                          <!-- <p>
                              <mat-form-field appearance="outline"  style="width: 100%;" required>
                                 <mat-label>Nombre de la categoria</mat-label>
                                 <input
                                    id="nombreCategoriaP"
                                    formControlName="nombreCategoriaP"
                                    type="text"
                                    matInput
                                    autocomplete="off"
                                    placeholder="Categoria"
                                    />
                              </mat-form-field>
                           </p>-->

                        </div>
                        <div class="col-sm-6">
                           <p>
                              <mat-form-field appearance="outline" style="width: 100%;">
                                 <mat-label>Subcategoria</mat-label>
                                 <input
                                   matInput
                                   formControlName="nomsubcate"
                                   placeholder="Escribe una subcategoria"
                                   [matAutocomplete]="autoSubcategoria"
                                   (input)="buscarSubCategorias()"
                                 />
                                 <mat-autocomplete #autoSubcategoria="matAutocomplete" (optionSelected)="buscarSubCategorias()">
                                   <mat-option *ngFor="let subCategoria of filteredSubCategorias" [value]="subCategoria">
                                     {{ subCategoria }}
                                   </mat-option>
                                 </mat-autocomplete>
                               </mat-form-field>
                           </p>

                        </div>
                     </div>
                     <div class="row">
                        <!--<div class="col-sm-6">
                           <p>
                              <mat-form-field appearance="outline"  style="width: 100%;" required>
                                 <mat-label>Precio de compra</mat-label>
                                 <input
                                    id="precioCompra"
                                    formControlName="precioCompra"
                                    type="text"
                                    matInput
                                    autocomplete="off"
                                    placeholder="precioCompra"
                                    />
                              </mat-form-field>
                           </p>
                        </div>-->
                        <div class="col-sm-6">
                           <p>

                              <mat-form-field appearance="outline" style="width: 100%;">
                                 <mat-label>Marca</mat-label>
                                 <input
                                   matInput
                                   formControlName="marcaP"
                                   placeholder="Escribe una marca"
                                   [matAutocomplete]="autoMarca"
                                   (input)="buscarMarca()"
                                 />
                                 <mat-autocomplete #autoMarca="matAutocomplete" (optionSelected)="buscarMarca()">
                                   <mat-option *ngFor="let marcas of filteredMarcas" [value]="marcas">
                                     {{ marcas }}
                                   </mat-option>
                                 </mat-autocomplete>
                               </mat-form-field>
                           </p>
                        </div>
                        <div class="col-sm-6">
                           <p>
                              <mat-form-field appearance="outline"  style="width: 100%;" required>
                                 <mat-label>Detalle del producto</mat-label>
                                 <input
                                    id="detalleCompra"
                                    formControlName="detalleCompra"
                                    type="text"
                                    matInput
                                    autocomplete="off"
                                    placeholder="Detalle del producto"
                                    />
                              </mat-form-field>
                           </p>
                        </div>  
                     </div>
                  </fieldset>
               </div>
            </form>
         </div>
      </div>
      <div style="display: flex; justify-content: center;" mat-dialog-actions>
         <button mat-raised-button (click)="actualizar()" style="background-color: #fd9727; font-size: 20px; margin-top: 17px; height: 40px; margin-right: 90px;">Aceptar</button>
         <button mat-raised-button  (click)="cerrarDialogo()" style="background-color: #000000; font-size: 20px; margin-top: 17px; height: 40px;color: white;">Cancelar</button>
      </div>
   </div>
</div>