<div>
  <div>
     <h1 class="title" mat-dialog-title>Agregar empleado</h1>
     <div mat-dialog-content>
        <form [formGroup]="form">
           <div >
              <div class="row">
                 <div class="col-sm-12">
                    <mat-label >Nombre completo: </mat-label>
                    <mat-form-field appearance="outline" style="width: 95%;">
                       <mat-label>Nombre</mat-label>
                       <input type="text" matInput placeholder="Juan" autocomplete="off" formControlName="nombre" id="nombre" [errorStateMatcher]="matcher">
                       <mat-error *ngIf="form.get('nombre')?.hasError('pattern') && !form.get('nombre')?.hasError('required')">
                          <strong class="txt_msg">**Numeros no permitidos</strong>
                       </mat-error>
                       <mat-error *ngIf="form.get('nombre')?.hasError('required')"><strong class="txt_msg">**Campo requerido</strong></mat-error>
                    </mat-form-field>
                 </div>
              </div>
              <div class="row">
                 <div class="col-sm-6">
                    <mat-label>Telefono: </mat-label>
                    <mat-form-field appearance="outline" style="width: 95%;">
                       <mat-label>Telefono</mat-label>
                       <input type="email" placeholder="2222222222" matInput autocomplete="off" formControlName="celular" id="celular" minlength="10" maxlength="10" [errorStateMatcher]="matcher">
                       <mat-error *ngIf="form.get('celular')?.hasError('pattern') && !form.get('celular')?.hasError('required')">
                          <strong class="txt_msg">**Formato no válido...</strong>
                       </mat-error>
                       <mat-error *ngIf="form.get('celular')?.hasError('required')">
                          <strong class="txt_msg">**Campo requerido</strong>
                       </mat-error>
                    </mat-form-field>
                 </div>
                 <div class="col-sm-6">
                  <mat-label>Puesto: </mat-label>
                  <mat-form-field appearance="outline" style="width: 95%;">
                     <mat-label>Puesto</mat-label>
                     <mat-select id="puesto" formControlName="puesto" id="puesto" [errorStateMatcher]="matcher">
                        <!--<mat-option *ngIf="isSupadmin() || isAdmin()" value="2">Administrador</mat-option>
                           <mat-option *ngIf="isAdmin()" value="4">Recepcionista</mat-option>-->
                        <mat-option value="Administrador">Administrador</mat-option>
                        <mat-option value="Recepcionista">Recepcionista</mat-option>
                     </mat-select>
                     <mat-error *ngIf="form.get('area')?.hasError('required')">
                        <strong class="txt_msg">**Campo requerido</strong>
                     </mat-error>
                  </mat-form-field>
               </div>
                 <!-- <div class="col-sm-6">
                    <mat-label>Foto: </mat-label>
                    <mat-form-field appearance="outline" style="width: 95%;">
                       <mat-label>Foto</mat-label>
                       <input type="text" placeholder="Foto" matInput autocomplete="off" formControlName="foto" id="foto" [errorStateMatcher]="matcher">
                       <mat-error *ngIf="form.get('foto')?.hasError('pattern') && !form.get('foto')?.hasError('required')">
                          <strong class="txt_msg">**Formato no valido...</strong>
                       </mat-error>
                       <mat-error *ngIf="form.get('salario')?.hasError('required')"><strong class="txt_msg">**Campo requerido</strong></mat-error>
                    </mat-form-field>
                 </div> -->
              </div>
              <div class="row">
                 <div class="col-sm-6">
                    <mat-label>Correo Empleado: </mat-label>
                    <mat-form-field appearance="outline" style="width: 95%;">
                       <mat-label>Correo </mat-label>
                       <input matInput placeholder="correo@gmail.com" autocomplete="off" formControlName="correoEmp" [errorStateMatcher]="matcher"/>
                       <mat-error *ngIf="form.get('correoEmp')?.touched && form.get('correoEmp')?.hasError('required')">
                          <strong class="txt_msg">**Campo requerido</strong>
                       </mat-error>
                    </mat-form-field>
                 </div>
                 <div class="col-sm-6">
                    <mat-label>Contraseña: </mat-label>
                    <mat-form-field appearance="outline" style="width: 95%;">
                       <mat-label>Asignar contraseña</mat-label>
                       <input matInput  matInput [type]="hide ? 'password' : 'text'" placeholder="Asignar contraseña" formControlName="pass" id="pass" [errorStateMatcher]="matcher">
                       <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                       <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                       </button>
                       <mat-error *ngIf="form.get('pass')?.hasError('minlength') && !form.get('pass')?.hasError('required')">
                          <strong class="txt_msg">**Minimo 8 caracteres</strong>
                       </mat-error>
                       <mat-error *ngIf="form.get('pass')?.hasError('required')"><strong class="txt_msg">**Campo requerido</strong></mat-error>
                    </mat-form-field>
                 </div>
              </div>
           </div>
        </form>
     </div>
     <div mat-dialog-actions fxLayoutAlign="center center">
        <div>
           <button mat-raised-button (click)="registrar()" type="submit"  style="background-color: #fd9727; font-size: 20px; height: 40px; margin-right: 90px;width: 120px;">Aceptar</button>
        </div>
        <div style="display: flex; justify-content: center;">
           <button mat-raised-button (click)="cerrarDialogo()" style="background-color: #000000; font-size: 20px; height: 40px;color: white; width: 120px;">Cancelar</button>
        </div>
     </div>
  </div>
</div>