<h1 class="title" mat-dialog-title>Agregar empleado</h1>
<div mat-dialog-content>
<form [formGroup]="form">
    <div class="row">
        <p>
            <mat-label>Personal:</mat-label>
            <mat-form-field appearance="outline" style="width: 95%;">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput placeholder="Recepcionista" autocomplete="off" formControlName="nombre" id="nombre">
            <mat-error *ngIf="form.get('nombre')?.hasError('pattern') && !form.get('nombre')?.hasError('required')">
                <strong class="txt_msg">**Numeros no permitidos</strong>
            </mat-error>
            <mat-error *ngIf="form.get('nombre')?.hasError('required')"><strong class="txt_msg">**Campo requerido</strong></mat-error>
            </mat-form-field>
        </p>
    </div>
</form>
</div>
<div mat-dialog-actions fxLayoutAlign="center center">
    <div>
       <button mat-raised-button (click)="registrar()" type="submit"  style="background-color: #fd9727; font-size: 20px; height: 40px; margin-right: 90px;width: 120px;">Aceptar</button>
    </div>
    <div style="display: flex; justify-content: center;">
       <button mat-raised-button (click)="cerrarDialogo()" style="background-color: #000000; font-size: 20px; height: 40px;color: white; width: 120px;">Cancelar</button>
    </div>
 </div>
