<div >
  <div >
     <div class="title"  mat-dialog-title>
        <label>PRODUCTOS</label>
     </div>
     <div mat-dialog-content>
        <br>
        <div >
           <form [formGroup]="form" enctype="multipart/form-data">
           <div >
              <fieldset>
                 <div class="row">
                    <label >Codigo de barra:</label>
                 </div>
                 <div class="row">
                    <p>
                       <mat-form-field appearance="outline"  style="width: 100%;" required>
                          <mat-label>Codigo de barra</mat-label>
                          <input
                             id="codigoBarra"
                             formControlName="codigoBarra"
                             type="text"
                             matInput
                             autocomplete="off"
                             placeholder="escribelo o escanealo"
                             />
                       </mat-form-field>
                    </p>
                 </div>
                 <div class="row">
                    <div class="col-sm-6">
                       <p>
                        <label >Nombre:</label>
                          <mat-form-field appearance="outline"  style="width: 100%;" required>
                             <mat-label>Nombre</mat-label>
                             <input
                                type="text"
                                matInput
                                placeholder="Donas bimbo"
                                autocomplete="off"
                                formControlName="nombre"
                                id="nombre"
                                [errorStateMatcher]="matcher"
                                />
                             <mat-error
                                *ngIf="
                                form.get('nombre')?.hasError('pattern') &&
                                !form.get('nombre')?.hasError('required')
                                "
                                >
                                <strong class="txt_msg">**Solo se admiten letras</strong>
                             </mat-error>
                             <mat-error *ngIf="form.get('nombre')?.hasError('required')"
                                ><strong class="txt_msg">**Campo requerido</strong></mat-error
                                >
                          </mat-form-field>
                       </p>
                    </div>
                    <div class="col-sm-6">
                       <p>
                        <label >Marca:</label>
                          <mat-form-field appearance="outline"  style=" width: 100%;" required>
                             <mat-label>Marca</mat-label>
                             <input
                                type="text"
                                matInput
                                placeholder="Marca comercial"
                                autocomplete="off"
                                formControlName="marca"
                                id="marca"
                                [errorStateMatcher]="matcher"
                                />
                             <mat-error
                                *ngIf="
                                form.get('marca')?.hasError('pattern') &&
                                !form.get('marca')?.hasError('required')
                                "
                                >
                                <strong class="txt_msg">**Solo se admiten letras</strong>
                             </mat-error>
                             <mat-error *ngIf="form.get('marca')?.hasError('required')"
                                ><strong class="txt_msg">**Campo requerido</strong></mat-error
                                >
                          </mat-form-field>
                       </p>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-6">
                       <p>
                        <label >Tipo de producto:</label>
                          <mat-form-field appearance="outline" style="width: 100%;">
                             <mat-label>Categoria de producto</mat-label>
                             <mat-select
                             id="idCategoria"
                             name="idCategoria"
                             formControlName="idCategoria"
                             (ngModelChange)="infoCategoria(+showCategoria.value)"
                             #showCategoria
                             >
                             <mat-option
                             *ngFor="let item of listaCategorias"
                             [value]="+item.idCategoria"
                             >{{ item.nombre }}</mat-option
                                >
                             </mat-select>
                             <mat-error *ngIf="form.get('idCategoria')?.hasError('required')">
                                <strong class="txt_msg">**Campo requerido </strong>
                             </mat-error>
                          </mat-form-field>
                       </p>
                       <fieldset *ngIf="showCategoria.value"
                          >
                          <strong>Características de consumibles</strong>
                          <mat-form-field appearance="outline" class="inputs_properties">
                             <mat-label>Unidad de medicion</mat-label>
                             <mat-select
                                id="unidadMedicion"
                                formControlName="unidadMedicion"
                                id="unidadMedicion"
                                [errorStateMatcher]="matcher"
                                >
                                <mat-option value="Kilos">Kilos</mat-option>
                                <mat-option value="Gramos">Gramos</mat-option>
                                <mat-option value="Litros">Litros</mat-option>
                                <mat-option value="Mililitros">Mililitros</mat-option>
                             </mat-select>
                             <mat-error
                                *ngIf="form.get('unidadMedicion')?.hasError('required')"
                                >
                                <strong class="txt_msg">**Campo requerido</strong>
                             </mat-error>
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="inputs_properties">
                             <mat-label>Cantidad de medición</mat-label>
                             <input
                                type="number"
                                min="0"
                                matInput
                                placeholder="¿cuantos l. o ml. tiene?"
                                autocomplete="off"
                                formControlName="cantidadUnidades"
                                id="cantidadUnidades"
                                [errorStateMatcher]="matcher"
                                />
                             <mat-error
                                *ngIf="
                                form.get('cantidadUnidades')?.hasError('pattern') &&
                                !form.get('cantidadUnidades')?.hasError('required')
                                "
                                >
                                <strong class="txt_msg"
                                   >**Solo se admiten numeros enteros</strong
                                   >
                             </mat-error>
                             <mat-error
                                *ngIf="form.get('cantidadUnidades')?.hasError('required')"
                                ><strong class="txt_msg">**Campo requerido</strong></mat-error
                                >
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="inputs_properties">
                             <mat-label>Sabor</mat-label>
                             <input
                                type="text"
                                matInput
                                placeholder="Marca comercial"
                                autocomplete="off"
                                formControlName="sabor"
                                id="sabor"
                                [errorStateMatcher]="matcher"
                                />
                             <mat-error
                                *ngIf="
                                form.get('sabor')?.hasError('pattern') &&
                                !form.get('sabor')?.hasError('required')
                                "
                                >
                                <strong class="txt_msg">**Solo se admiten letras</strong>
                             </mat-error>
                             <mat-error *ngIf="form.get('sabor')?.hasError('required')"
                                ><strong class="txt_msg">**Campo requerido</strong></mat-error
                                >
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="inputs_properties">
                             <mat-label>Color</mat-label>
                             <input
                                type="text"
                                matInput
                                placeholder="Marca comercial"
                                autocomplete="off"
                                formControlName="color"
                                id="color"
                                [errorStateMatcher]="matcher"
                                />
                             <mat-error
                                *ngIf="
                                form.get('color')?.hasError('pattern') &&
                                !form.get('color')?.hasError('required')
                                "
                                >
                                <strong class="txt_msg">**Solo se admiten letras</strong>
                             </mat-error>
                             <mat-error *ngIf="form.get('color')?.hasError('required')"
                                ><strong class="txt_msg">**Campo requerido</strong></mat-error
                                >
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="inputs_properties">
                             <mat-label>Talla</mat-label>
                             <mat-select
                                id="talla"
                                formControlName="talla"
                                [errorStateMatcher]="matcher"
                                >
                                <mat-option value="CH">Chica</mat-option>
                                <mat-option value="M">Mediana</mat-option>
                                <mat-option value="G">Grande</mat-option>
                                <mat-option value="EG">Extra grande</mat-option>
                             </mat-select>
                             <mat-error *ngIf="form.get('talla')?.hasError('required')">
                                <strong class="txt_msg">**Campo requerido</strong>
                             </mat-error>
                          </mat-form-field>
                       </fieldset>
                    </div>
                    <div class="col-sm-6">
                       <p>
                        <label >Descripción:</label>
                          <mat-form-field 
                             style="display: inline-block; width: 100%; height: 20px"
                             required appearance="outline"
                             >
                             <mat-label>Descripción</mat-label>
                             <textarea 
                                class="textarea"
                                matInput
                                rows="4"
                                placeholder="Descripción breve del producto"
                                cols="50"
                                style="display: inline-block; width: 100%; height: 100%"
                                id="descripcion"
                                formControlName="descripcion"
                                >
                              </textarea>
                             <mat-error *ngIf="form.get('descripcion')?.hasError('required')"
                                ><strong class="txt_msg">**Campo requerido</strong></mat-error
                                >
                          </mat-form-field>
                       </p>
                    </div>
                 </div>
              </fieldset>
           </div>
           </form>
        </div>
     </div>
     <div style="display: flex; justify-content: center;" mat-dialog-actions>
        <button mat-raised-button (click)="registrar()"  style="background-color: #fd9727; font-size: 20px; margin-top: 17px; height: 40px; margin-right: 50px;">Aceptar</button>
        <button mat-raised-button  (click)="cerrarDialogo()" style="background-color: #000000; font-size: 20px; margin-top: 17px; height: 40px;color: white;">Cancelar</button>
     </div>
  </div>
</div>