<div>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse-sync" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
    <h1 class="title" *ngIf="optionToShow == 1" mat-dialog-title>AGREGAR MEMBRESÍA</h1>
    <h1 class="title" *ngIf="optionToShow == 2"  mat-dialog-title>Servicios de membresia</h1>
    <h1 class="title" *ngIf="optionToShow == 3" mat-dialog-title >EDITAR MEMBRESÍA</h1>
    <div class="services_table" *ngIf="optionToShow == 2 || optionToShow == 5" mat-dialog-content>
        <h2 *ngIf="dataSource && dataSource.data && dataSource.data.length > 0">{{dataSource.data[0].titulo}}</h2>
        <div *ngIf="dataSource.data.length == 0" class="center-container">
            <div><strong>Sin servicios</strong>
            </div>
          </div>
       <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="No">
                <th mat-header-cell *matHeaderCellDef> Id. </th>
                <td mat-cell *matCellDef="let element"> {{element.fk_servicios_individuales}} </td>
              </ng-container>
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre_servicio}}</td>
              </ng-container>
              <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef> Precio </th>
                <td mat-cell *matCellDef="let element"> {{element.precio_unitario}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div mat-dialog-content>
        <div  *ngIf="optionToShow == 1 || optionToShow == 3">
            <div>
            <form [formGroup]="formPlan">
                <div >
                <div style="color:red"></div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Titulo:</label>
                        </div>
                        <div class="col-sm-6">
                            <label>Precio:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                <mat-form-field appearance="outline" style="width: 95%;" required>
                                    <mat-label>Nombre de la membresia:</mat-label>
                                    <input type="text" matInput placeholder="Titulo" autocomplete="off" id="titulo" formControlName="titulo">
                                    <mat-error >
                                        El título es requerido.
                                      </mat-error>
                                </mat-form-field>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                <mat-form-field appearance="outline"  style="width: 95%;" required>
                                    <mat-label>Precio</mat-label>
                                    <input type="number" placeholder="Precio" matInput autocomplete="off" id="precio" formControlName="precio" [readonly]="selection == 2 || dataToUpdate.tipo_membresia == 2">
                                    <mat-error >
                                        El precio es requerido.
                                      </mat-error>
                                      <mat-error >
                                        Solo se aceptan números.
                                      </mat-error>
                                </mat-form-field>
                            </p> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Duración:</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="large-text"  *ngIf="servicios && servicios.length > 0">Elige tus servicios:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                <mat-form-field style="width: 95%;" required appearance="outline">
                                    <mat-label style="font-family: Arial; font-size: 18px;">Seleccionar dias</mat-label>
                                    <mat-select formControlName="duracion" multiple="false" >
                                        <mat-option  value="1">Visita</mat-option>
                                        <mat-option  value="15">Quincena</mat-option>
                                        <mat-option  value="30">Mensualidad </mat-option>
                                        <mat-option  value="365">Anualidad</mat-option>
                                      </mat-select>
                                    <mat-error >
                                        La duracion es requerida.
                                      </mat-error>
                                </mat-form-field>
                            </p>
                            <p>
                                <label for="detalles" class="large-text">Detalles:</label>
                                <mat-form-field style="display: inline-block; width: 95%; height: 110px;" required appearance="outline">
                                    <mat-label>Detalles</mat-label>
                                    <textarea class="textarea" matInput rows="4" placeholder="Detalles" cols="50" style="display: inline-block; width: 100%;height: 100%;" id="detalles" formControlName="detalles"> </textarea>
                                    <mat-error >
                                        Los detalles son requeridos.
                                      </mat-error>
                                </mat-form-field>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p *ngIf="servicios && servicios.length > 0; else noServicios">
                                <mat-form-field required appearance="outline" style="width: 95%;">
                                  <mat-label style="font-family: Arial; font-size: 18px;">Seleccionar servicio</mat-label>
                                  <mat-select formControlName="servicioseleccionado" multiple="false">
                                    <mat-option *ngFor="let servicio of servicios" [value]="servicio">
                                      {{servicio.nombre_servicio}}
                                    </mat-option>
                                  </mat-select>
                                  <mat-error >
                                    El servicio es requerido.
                                  </mat-error>
                                </mat-form-field>
                            </p>
                            <p *ngIf="servicios && servicios.length > 0">Agrega otro servicio:<a href="javascript:void(0)" (click)="abrirDialogo()">Agregar</a></p>
                            <ng-template #noServicios>
                                <p>No hay servicios disponibles.</p>
                                <p>Agrega tu servicio: <a href="javascript:void(0)" (click)="abrirDialogo()">Agregar</a></p>
                            </ng-template>                       
                            <br/>
                            <br/>  
                        </div>
                    </div>     
                </div>
            </form>
        </div>
        </div>
        <div class="servicesForm" *ngIf="optionToShow == 4">
            <form [formGroup]="formService">
                <div class="mi-div-con-borde responsive-div">
                    <div style="color:red"></div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>
                                    <label for="nombre" class="large-text" style="margin-right: 35px;margin-left: 45px;">Nombre:</label>
                                    <mat-form-field appearance="outline" class="inputs_properties" style="margin-right: 35px;" required>
                                        <mat-label>nombre</mat-label>
                                        <input type="text" matInput placeholder="Nombre" autocomplete="off" id="nombre" formControlName="nombre">
                                        <mat-error >
                                            El nombre es requerido.
                                          </mat-error>
                                          <mat-error >
                                            Solo se aceptan letras.
                                          </mat-error>
                                    </mat-form-field>
                                </p>
                                <p>
                                    <label for="precio" class="large-text" style="margin-right: 35px;margin-left: 45px;">Precio:</label>
                                    <mat-form-field appearance="outline" class="inputs_properties" style="margin-right: 35px;" required>
                                        <mat-label>precio</mat-label>
                                        <input type="number" matInput placeholder="precio" autocomplete="off" id="precio" formControlName="precio">
                                        <mat-error >
                                            El precio es requerido.
                                          </mat-error>
                                          <mat-error >
                                            Solo se aceptan numeros.
                                          </mat-error>
                                    </mat-form-field>
                                </p>
                            </div>    
                        </div>   
                        <div style="display: flex; justify-content: center;">
                            <button mat-stroked-button type="submit" (click)="validaFormService()" style="background-color: #fd9727; font-size: 20px; margin-top: 17px; height: 40px; margin-right: 90px;">Aceptar</button>
                            <button mat-stroked-button (click)="cerrarDialogo()" style="background-color: #000000; font-size: 20px; margin-top: 17px; height: 40px;color: white;">Cancelar</button>
                          </div>           
                 </div>    
            </form>     
        </div>
    </div>

    <div style="display: flex; justify-content: center;" mat-dialog-actions>
        <button *ngIf="optionToShow === 1" mat-stroked-button type="submit" (click)="validarFormulario()" class="aceptar">Aceptar</button>
        <button *ngIf="optionToShow === 3" mat-stroked-button type="submit" (click)="validarFormulario()" class="aceptar">Actualizar</button>
        <button mat-stroked-button (click)="cerrarDialogo()" class="cancelar">Cancelar</button>
      </div>   
</div>