

table {
    width: 100%;
}

.full-width {
    font-size: 14px;
    width: 100%;
}

.table-container {
    overflow-x: auto; /* Permite desplazamiento horizontal */
    max-width: 100%;  /* Evita que la tabla sea m치s ancha que el contenedor */
  }

/* CSS para el toggle button */
.toggle-container {
    float: left;
    margin-right: 10px;
  }
  
  .toggle-checkbox {
    display: none; /* Oculta el checkbox nativo */
  }
  
  .toggle-label {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
  }
  
  .toggle-label:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transition: transform 0.3s ease;
  }
  
  /* Estilo para el toggle button cuando est치 activo */
  .toggle-checkbox:checked + .toggle-label:before {
    transform: translateX(20px);
  }
  
  .toggle-checkbox:checked + .toggle-label {
    background-color: #4CAF50; /* Color de fondo cuando est치 activo */
    left: 0; /* Mantiene la "bolita" a la izquierda cuando est치 activo */
  }

  .button_eye {
    width: 100%;
    border: none;
    background-color: #fff;
  }
 
 
  /*CARGANDO*/
.custom-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.custom-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #fd9727;
  border-top: 4px solid transparent;
  animation: spin 1s linear infinite;
}

.spinner-text {
  margin-top: 10px;
  font-weight: bold;
  color: #000000; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
