<div style="margin-top: 60px;">
<div class="img-container">
 </div>
 <div class="container">
	<div class="gym-details">
	   <h1 style="color: #ff8400">DETALLES DE TÚ GIMNASIO</h1>
	   <div style="display: flex; justify-content: flex-end;">
		  <button mat-raised-button type="submit" (click)="actualizar()" style="background-color: #fd9727; font-size: 20px; height: 40px; width: 190px; color: black;margin-right: 20px;">
			 <mat-icon>edit</mat-icon>
			 Aceptar
		  </button>
		  <button mat-raised-button type="submit" routerLink="../verConfiguracion" style="background-color: #000000; font-size: 20px; height: 40px; width: 190px;">
			 <mat-icon>cancel</mat-icon>
			 Cancelar
		  </button>
	   </div>
	   <br>
	   <br>
	   <ul>
		  <form [formGroup]="formularioSucursales">
			 <div class="row">
				<div class="card">
				   <li>
					  <img src="../../../../../assets/img/gym.png" width="60px" alt="Icono gym" style="margin-right: 10px;margin-left: 10px; ">
					  <mat-form-field appearance="outline" class="inputs_properties" style="margin-left: 9px;" required>
						 <mat-label>Nombre</mat-label>
						 <input type="text" matInput placeholder="Nombre" autocomplete="off" id="nombreGym" formControlName="nombreBodega" />
					  </mat-form-field>
				   </li>
				</div>
				<div class="card" style="margin-top: 30px;">
				   <li>
					  <img src="../../../../../assets/img/telefono.png" width="60px" alt="Icono teléfono" style="margin-right: 10px;margin-left: 10px; " >
					  <mat-form-field appearance="outline" class="inputs_properties" style="margin-left: 9px;" required>
						 <mat-label>Telefono</mat-label>
						 <input type="text" placeholder="telefono" matInput autocomplete="off" id="numeroTelefonico" formControlName="numeroTelefonico" />
						 <mat-error *ngIf="formularioSucursales.get('numeroTelefonico')?.hasError('pattern') && !formularioSucursales.get('numeroTelefonico')?.hasError('required')">
							<strong class="txt_msg">** Formato no válido...</strong>
						 </mat-error>
					  </mat-form-field>
				   </li>
				</div>
				<div class="card" style="margin-top: 30px;">
				   <li>
					  <img src="../../../../../assets/img/ubicacion.png" width="60px" alt="Icono direccion" style="margin-right: 20px;margin-left: 10px; ">
					  <mat-form-field appearance="outline" class="inputs_properties"  required>
						 <mat-label>Direccion</mat-label>
						 <input type="text" placeholder="Direccion" matInput autocomplete="off" id="direccion" formControlName="direccion" />
					  </mat-form-field>
				   </li>
				</div>
			 </div>
			 <br>
		  </form>
	   </ul>
	   <ul>
		  <form [formGroup]="formularioHorarios">
			 <div class="row">
				<div class="card" style="font-size: 18px">
				   <div  class="table-container">
					  <table>
						 <thead>
							<tr>
							   <th>Día de la Semana</th>
							   <th>Hora de Entrada</th>
							   <th>Hora de Salida</th>
							</tr>
						 </thead>
						 <tbody formArrayName="horarios">
							<tr *ngFor="let horario of getHorariosControls(); let i = index" [formGroupName]="i">
							<td *ngIf="horario.get('diaSemana') !== null">{{ horario.get('diaSemana')?.value }}</td>
							<td><input type="time" formControlName="horaEntrada" placeholder="Hora Entrada"></td>
							<td><input type="time" formControlName="horaSalida" placeholder="Hora Salida"></td>
							</tr>
						 </tbody>
					  </table>
				   </div>
				   <br/>
				</div>
			 </div>
		  </form>
	   </ul>
	</div>
 </div>
 </div>