<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse-sync" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

<div >
    <div >
        <!--SE AGREGA CONTENIDO DE LA PANTALLA-->
        <div >
           <div mat-dialog-title class="title_page">
              <h1>¡Registra a tu cliente aquí!</h1>
           </div>
           <!--cierra title page-->
           <div mat-dialog-content >
              <form [formGroup]="form" >
              <p>
                 <strong class="txt_msg">
              <div style="color: red;">{{message}}</div>
              </strong>
              </p>
              <br />
              <div class="row">
                 <div class="col-md-6">
                  <div >
                     <h2><strong> Sube tu foto.</strong></h2>
                     <input accept="image/*" type="file" name="image" class="d-none" (change)="onPhotoSelected($event)" #photoInput />
                     <img
                       [src]="photoSelected || 'https://images.vexels.com/media/users/3/137047/isolated/lists/5831a17a290077c646a48c4db78a81bb-icono-de-perfil-de-usuario-azul.png'"
                       class="img-fluid"
                       alt="No image"
                       (click)="photoInput.click()"
                     />
                     <br>
                     <p *ngIf="photoSelected" (click)="uploadPhoto()"><strong>Imagen seleccionada correctamente.</strong></p>
                     <p *ngIf="not_size"><strong style="color: red;">La imagen excede el peso permitido (1mb).</strong></p>
                     <p *ngIf="not_format"><strong style="color: red;">El archivo que intentas subir no tiene un formato válido.</strong></p>
                     <div class="mt-3" *ngIf="webcamImage">
                       <button class="btn btn-danger" (click)="resetWebcamImage()" *ngIf="webcamImage">
                         Descartar foto.
                       </button>
                     </div>
                     <br>
                   </div>
                   
                    <div>
                       <button mat-menu-item (click)="show_option('up')" >
                          <mat-icon>add_photo_alternate</mat-icon>
                          <span (click)="photoInput.click()">Subir imagen</span>
                       </button>
                       <button mat-menu-item (click)="show_option('take')">
                          <mat-icon>add_a_photo</mat-icon>
                          <span>Tomar foto</span>
                       </button>

                       <div >
                        <br>
                          <div *ngIf="actualizar_imagen === 'take'">
                             <div *ngIf="showWebcam">
                                <webcam
                                [height]="400"
                                [width]="400"
                                [trigger]="triggerObservable"
                                (imageCapture)="handleImage($event)"
                                *ngIf="showWebcam"
                                [allowCameraSwitch]="allowCameraSwitch"
                                [switchCamera]="nextWebcamObservable"
                                [videoOptions]="videoOptions"
                                [imageQuality]="1"
                                (cameraSwitched)="cameraWasSwitched($event)"
                                (initError)="handleInitError($event)"
                                >
                                </webcam>
                             </div>
                             <button (click)="triggerSnapshot()" *ngIf="!webcamImage">Tomar foto</button>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="col-sm-6">
                  <br>
                  <br>
                  <br>
                    <div class="row">
                       <div class="col-sm-6">
                        <p>
                           <mat-form-field appearance="outline" class="inputs_properties">
                             <mat-label>Clave</mat-label>
                             <input type="number" matInput placeholder="Nombre" autocomplete="off" formControlName="id" step="1" />
                             <mat-error *ngIf="form.get('id')?.hasError('required')">
                               <strong class="txt_msg">**Campo requerido</strong>
                             </mat-error>
                             <mat-error *ngIf="form.get('id')?.hasError('pattern')">
                               <strong class="txt_msg">**Debe ser un número entero</strong>
                             </mat-error>
                           </mat-form-field>
                         </p>
                         
                        <p>
                           
                           <mat-form-field appearance="outline" class="inputs_properties">
                              <mat-label>Apellido paterno</mat-label>
                              <input type="text" matInput placeholder="Apellido paterno" autocomplete="off" formControlName="apPaterno" />
                              <mat-error *ngIf="form.get('apPaterno')?.hasError('pattern') && !form.get('apPaterno')?.hasError('required')">
                                 <strong class="txt_msg">**Formato no valido, (solo letras)...</strong>
                              </mat-error>
                              <mat-error *ngIf="form.get('apPaterno')?.hasError('required')"><strong class="txt_msg">**Campo requerido</strong></mat-error>
                           </mat-form-field>
                        </p>

                        <p>
                           <mat-form-field appearance="outline" class="inputs_properties">
                              <mat-label>Telefono</mat-label>
                              <input type="text" matInput placeholder="Telefono" autocomplete="off" minlength="7" maxlength="10" formControlName="fon" />
                              <mat-error *ngIf="form.get('fon')?.hasError('pattern') && !form.get('fon')?.hasError('required')">
                                 <strong class="txt_msg">**Formato no valido, (solo números)...</strong>
                              </mat-error>
                              <!--<mat-error *ngIf="form.get('fon')?.hasError('required')"><strong class="txt_msg">**Campo requerido</strong></mat-error>-->
                           </mat-form-field>
                        </p>
                        
                         
                       </div>
                       <div class="col-sm-6">
                        <p>
                           <mat-form-field appearance="outline" class="inputs_properties">
                              <mat-label>Nombre</mat-label>
                              <input type="text" matInput placeholder="Nombre" autocomplete="off" formControlName="nombreU" />
                              <mat-error *ngIf="form.get('nombreU')?.hasError('pattern') && !form.get('nombreU')?.hasError('required')">
                                 <strong class="txt_msg">**Formato no valido, (solo letras)...</strong>
                              </mat-error>
                              <mat-error *ngIf="form.get('nombreU')?.hasError('required')"><strong class="txt_msg">**Campo requerido</strong></mat-error>
                           </mat-form-field>
                        </p>

                        <p>
                           <mat-form-field appearance="outline" class="inputs_properties">
                              <mat-label>Apellido materno</mat-label>
                              <input type="text" matInput placeholder="Apellido materno" autocomplete="off" formControlName="apMaterno" />
                              <mat-error *ngIf="form.get('apMaterno')?.hasError('pattern') && !form.get('apMaterno')?.hasError('required')">
                                 <strong class="txt_msg">**Formato no valido, (solo letras)...</strong>
                              </mat-error>
                              <mat-error *ngIf="form.get('apMaterno')?.hasError('required')"><strong class="txt_msg">**Campo requerido</strong></mat-error>
                           </mat-form-field>
                        </p>
                         
                          
                          <p>
                           <mat-form-field appearance="outline" class="inputs_properties">
                              <mat-label>Fecha de nacimiento</mat-label>
                              <input type="date" matInput autocomplete="off" formControlName="fechaNacimiento" />
                              <mat-error *ngIf="form.get('fechaNacimiento')?.hasError('pattern') && !form.get('fechaNacimiento')?.hasError('required')">
                                 <strong class="txt_msg">**Formato de fecha no valido, (DD/MM/YYYY)...</strong>
                              </mat-error>
                            <!-- <mat-error *ngIf="form.get('fechaNacimiento')?.hasError('required')"><strong class="txt_msg">**Campo requerido</strong></mat-error>--> 
                           </mat-form-field>
                        </p>
                       </div>
                     </div>
                     <div class="row"> 
                        <div class="col-sm-6">
                           <p>
                              <mat-form-field appearance="outline" class="inputs_properties">
                                 <mat-label>Codigo postal</mat-label>
                                 <input type="text" matInput placeholder="Codigo postal" autocomplete="off" minlength="5" maxlength="5" formControlName="codigoPostal" />
                                 <mat-error *ngIf="form.get('codigoPostal')?.hasError('minlength') && !form.get('codigoPostal')?.hasError('required')">
                                    <strong class="txt_msg">**Minimo 5 carácteres</strong>
                                 </mat-error>
                                 <mat-error *ngIf="form.get('codigoPostal')?.hasError('pattern') && !form.get('codigoPostal')?.hasError('required')">
                                    <strong class="txt_msg">**Formato no valido, (solo números)...</strong>
                                 </mat-error>
                              </mat-form-field>
                           </p>
                        </div>
                        <div class="col-sm-6">
                           <p>
                              <mat-form-field appearance="outline" class="inputs_properties">
                                 <mat-label>Estado</mat-label>
                                 <mat-select matInput placeholder="Estado" autocomplete="off" formControlName="estado">
                                    <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </p>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <p>
                              <mat-form-field appearance="outline" class="inputs_properties">
                                 <mat-label>Ciudad</mat-label>
                                 <input type="text" matInput placeholder="Ciudad" autocomplete="off" formControlName="ciudad" />
                                 <mat-error *ngIf="form.get('ciudad')?.hasError('pattern') && !form.get('ciudad')?.hasError('required')">
                                    <strong class="txt_msg">**Formato no valido, (solo letras)...</strong>
                                 </mat-error>
                              </mat-form-field>
                           </p>
                           </div>
                           <div class="col-md-6">
                              <p>
                                 <mat-form-field appearance="outline" class="inputs_properties">
                                    <mat-label>Colonia</mat-label>
                                    <input type="text" matInput placeholder="Colonia" autocomplete="off" formControlName="colonia" />
                                    <mat-error *ngIf="form.get('colonia')?.hasError('pattern') && !form.get('colonia')?.hasError('required')">
                                       <strong class="txt_msg">**Formato no valido, (solo letras)...</strong>
                                    </mat-error>
                                 </mat-form-field>
                              </p>
                           </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <p>
                              <mat-form-field appearance="outline" class="inputs_properties">
                                 <mat-label>No. Externo</mat-label>
                                 <input type="text" matInput placeholder="Numero externo" autocomplete="off" formControlName="numExterno" />
                                 <mat-error *ngIf="form.get('numExterno')?.hasError('pattern') && !form.get('numExterno')?.hasError('required')">
                                    <strong class="txt_msg">**Formato no valido, (solo números)...</strong>
                                 </mat-error>
                              </mat-form-field>
                           </p>
                        </div>
                        <div class="col-md-6">
                           <p>
                              <mat-form-field appearance="outline" class="inputs_properties">
                                 <mat-label>No. Interno</mat-label>
                                 <input type="text" matInput placeholder="Número interno" autocomplete="off" formControlName="numInter" />
                                 <mat-error *ngIf="form.get('numInter')?.hasError('pattern') && !form.get('numInter')?.hasError('required')">
                                    <strong class="txt_msg">**Formato no valido, (solo números)...</strong>
                                 </mat-error>
                              </mat-form-field>
                           </p>
                        </div>
                     </div>
                    </div>
              </div>
              <br>
              <div class="row">
                 <div class="col-md-6">
                    <p>
                       <mat-form-field appearance="outline" class="inputs_properties">
                          <mat-label>Calle</mat-label>
                          <input type="text" matInput placeholder="Calle" autocomplete="off" formControlName="calle" />
                          <mat-error *ngIf="form.get('calle')?.hasError('pattern') && !form.get('calle')?.hasError('required')">
                             <strong class="txt_msg">**Formato no valido, (solo letras y números)...</strong>
                          </mat-error>
                       </mat-form-field>
                    </p>
                 </div>
                 <div class="col-md-6">
                  <p>
                     <mat-form-field appearance="outline" class="inputs_properties">
                        <mat-label>Correo</mat-label>
                        <input type="text" placeholder="Correo" matInput autocomplete="off" formControlName="email" />
                        <mat-error *ngIf="form.get('email')?.hasError('pattern') && !form.get('email')?.hasError('required')">
                           <strong class="txt_msg">**Formato de correo no valido...</strong>
                        </mat-error>
                       <!-- <mat-error *ngIf="form.get('email')?.hasError('required')"><strong class="txt_msg">**Campo requerido</strong></mat-error>-->
                     </mat-form-field>
                  </p>
               </div>
              </div>
              
              <!--<div class="button-container">
                <button class="btn_int" (click)="registrar()" mat-raised-button style="background: #fd9727; color: white; width: 30%;">
                  ¡REGISTRAR!
                </button>
              </div>-->
              
              </form>
           </div>
           <div mat-dialog-actions fxLayoutAlign="center center">
            <button mat-button [disabled]="!habilitarBoton" (click)="registrarUsuario()" mat-raised-button style="background: #fd9727; color: white; width: 20%;">
              ¡Registrar!
            </button>
            <button  mat-button (click)="cerrarDialogo()" mat-raised-button style="background: #000000; color: white; width: 20%;">Cerrar</button>
          </div>
        </div>
     </div>
    </div>