
  <div >
     <div class="title"  mat-dialog-title>
        <label>MEMBRESIA</label>
     </div>
     <div mat-dialog-content>
        <br>
        <div >
           <form [formGroup]="form" enctype="multipart/form-data">
              <div >
                 <div style="color:red">{{message}}</div>
                 <fieldset>
                    <div class="row" *ngIf="isAdmin() && esServicio">
                       <p>
                          <mat-form-field appearance="outline"  style="width: 100%;"  >
                             <mat-label>Codigo de barra</mat-label>
                             <input
                                matInput
                                type="number"
                                placeholder="Escribelo o escanealo"
                                id="codigoBarra"
                                formControlName="codigoBarra"
                                autocomplete="off"
                                (blur)="vercodigoBarras()"
                                />
                          </mat-form-field>
                       </p>
                    </div>

                    <div class="row" *ngIf="isRecep()">
                       <p>
                          <mat-form-field appearance="outline"  style="width: 100%;"  >
                             <mat-label>Codigo de barra</mat-label>
                             <input
                                matInput
                                type="number"
                                placeholder="Escribelo o escanealo"
                                id="codigoBarra"
                                formControlName="codigoBarra"
                                autocomplete="off"
                                />
                          </mat-form-field>
                       </p>
                    </div>

                    <div class="row">
                       <div class="col-sm-12">
                          <p>
                             <mat-form-field style="width: 100%;" required appearance="outline">
                                <mat-label>Nombre de la membresia</mat-label>
                                <input
                                   matInput
                                   placeholder="Nombre de la membresia"
                                   type="text"
                                   id="descripcion"
                                   autocomplete="off"
                                   formControlName="descripcion"
                                   />
                             </mat-form-field>
                          </p>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-sm-6">
                          <p>
                             <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Nombre de la categoria</mat-label>
                                <input
                                  matInput
                                  formControlName="nombreCategoriaP"
                                  placeholder="Escribe una categoria"
                                  [matAutocomplete]="auto"
                                  (input)="buscarCategorias()"
                                />
                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="buscarCategorias()">
                                  <mat-option *ngFor="let categoria of filteredCategorias" [value]="categoria">
                                    {{ categoria }}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                          </p>
                       </div>
                       <div class="col-sm-6">
                          <p >
                             <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Tipo de Membresia</mat-label>
                                <input
                                  matInput
                                  formControlName="nomsubcate"
                                  placeholder="Tipo de Membresia"
                                  [matAutocomplete]="autoSubcategoria"
                                  (input)="buscarSubCategorias()"
                                />
                                <mat-autocomplete #autoSubcategoria="matAutocomplete" (optionSelected)="buscarSubCategorias()">
                                  <mat-option *ngFor="let subCategoria of filteredSubCategorias" [value]="subCategoria">
                                    {{ subCategoria }}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                          </p>

                       </div>
                    </div>
                    <div class="row">
                       <div class="col-sm-6">
                          <p>
                             <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Servicio</mat-label>
                                <input
                                  matInput
                                  formControlName="marcaP"
                                  placeholder="Escribe un servicio"
                                  [matAutocomplete]="autoMarca"
                                  (input)="buscarMarca()"
                                />
                                <mat-autocomplete #autoMarca="matAutocomplete" (optionSelected)="buscarMarca()">
                                  <mat-option *ngFor="let marcas of filteredMarcas" [value]="marcas">
                                    {{ marcas }}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                          </p>
                       </div>
                       <div class="col-sm-6">
                          <p>
                             <mat-form-field appearance="outline"  style="width: 100%;" required>
                                <mat-label>Duración de la membresia</mat-label>
                                <input
                                   id="duracion"
                                   formControlName="duracion"
                                   type="number"
                                   matInput
                                   autocomplete="off"
                                   placeholder="Duración de la membresia"
                                   />
                             </mat-form-field>
                          </p>
                       </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                         <p>
                            <mat-form-field appearance="outline" style="width: 100%;">
                               <mat-label>Precio</mat-label>
                               <input
                                  id="precciosucu"
                                  formControlName="precciosucu"
                                  type="number"
                                  matInput
                                  autocomplete="off"
                                  placeholder="$"
                               />
                            </mat-form-field>
                         </p>
                      </div>
                   </div>

                 </fieldset>
              </div>
           </form>
        </div>
     </div>
     <div style="display: flex; justify-content: center;" mat-dialog-actions>
        <button *ngIf="isAdmin()" mat-raised-button (click)="registrarProd()"  class="aceptar">Aceptar</button>
        <button mat-raised-button  (click)="cerrarDialogo()" class="cancelar">Cancelar</button>
     </div>
  </div>

